[2020-08-18 17:06] ampprojectbot opened #1 "🚨 Error: failed to attach shadow document for page: The object can not be found here."
Details
---
**Error report:** [link](http://go/ampe/CO6_5OrGwdXMigE)
**First seen:** Jul 10, 2020
**Frequency:** ~ 222/day

Stacktrace
---
<pre><code>Error: failed to attach shadow document for page: The object can not be found here.
    at oldBody (<a href="https://github.com/ampproject/amphtml/blob/2007302351001/src/shadow-embed.js#L202">src/shadow-embed.js:202</a>:27)
    at shadowRoot (<a href

[2020-08-18 17:06] rcebulko commented on #1
Looks like this only impacts the domain `zn-ua.cdn.ampproject.org`, so it seems to be a publisher-side error. Closing.

[2020-08-18 17:06] #1 closed, assigned to nobody

[2020-08-24 17:20] ampprojectbot opened #2 "🚨 Error: Unexpected end of JSON input"
Details
---
**Error report:** [link](http://go/ampe/CP-6k7GLrJe77gE)
**First seen:** Apr 12, 2020
**Frequency:** ~ 667/day

Stacktrace
---
<pre><code>Error: Unexpected end of JSON input
    at JSON (<a href="https://github.com/ampproject/amphtml/blob/2008150009001/src/json.js#L112">src/json.js:112</a>:37)
    at buildCallback (<a href="https://github.com/ampproject/amphtml/blob/2008150009001/src/c

[2020-08-24 17:23] rcebulko commented on #2
With the exception of a single occurrence in Stable, all of these errors are happening in Experimental 1% and NOT Beta 1%, suggesting this could be related to an experiment flag.

Appears similar to https://github.com/ampproject/amphtml/issues/20690, but it's unclear if they share the same root cause

[2020-08-24 18:53] jridgewell commented on #2
That could mean there's a particularly noisy error happening. We trim to 10kb, and if a error reports stack or message is more than that, it'll cause this error.

[2020-08-24 19:15] rcebulko commented on #2
@jridgewell Are you referring here to the PayloadTooLargeError we see on the reporting app side? It looks like this error is occurring client-side (maybe a user error with custom-element config?) IIRC the PayloadTooLarge error in the reporting app is muted in our reporting

[2020-08-24 19:36] jridgewell commented on #2
Ohhhhh, I got these confused. I'm not sure

[2020-08-27 15:47] erwinmombay commented on #2
just to verify can we proceed with promote even with this issue?

[2020-08-27 16:04] rcebulko commented on #2
Note: error seems to be occurring on non-iOS browsers

@erwinmombay It's a non-trivial error volume here, but I don't think it's a P0 based on the scale and stacktrace. We should still triage and assign at some point but it's not even on the top-ten list at the moment, so promotion should be fine.

[2020-09-01 17:20] ampprojectbot opened #3 "🚨 Error: Attempted to assign to readonly property."
Details
---
**Error report:** [link](http://go/ampe/CMzlm9OPvfiTPQ)
**First seen:** Jul 23, 2020
**Frequency:** ~ 278/day

Stacktrace
---
<pre><code>Error: Attempted to assign to readonly property.
    at <a href="https://github.com/ampproject/amphtml/blob/2008220050000/extensions/amp-ad-network-doubleclick-impl/0.1/amp-ad-network-doubleclick-impl.js#L886">extensions/amp-ad-network-doubleclick-imp

[2020-09-01 17:20] ampprojectbot opened #4 "🚨 Error: Cannot read property 'ampdoc' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CL27g42-x_HsfQ)
**First seen:** Apr 11, 2020
**Frequency:** ~ 1,805/day

Stacktrace
---
<pre><code>Error: Cannot read property 'ampdoc' of undefined
    at ampdoc (<a href="https://github.com/ampproject/amphtml/blob/2008150009001/src/multidoc-manager.js#L516">src/multidoc-manager.js:516</a>:11)
    at closeShadowRoot_ (<a href="https://github.com

[2020-09-01 17:22] zhouyx commented on #3
to @ampproject/wg-ads

[2020-09-01 20:38] calebcordry commented on #3
I spot checked a few of the error urls and this seems like it might be a pub error:
[code]

@jeffkaufman can you confirm that the json attribute is incorrectly set up here? If so we can maybe handle the error more gracefully.

[2020-09-01 20:41] calebcordry commented on #3
Based on my limited understanding of https://github.com/ampproject/amphtml/blob/204676c7e1774f44a439ca85d296718ac2c95001/extensions/amp-ad-network-doubleclick-impl/amp-ad-network-doubleclick-impl-internal.md#supported-parameters it seems like the json attr should always contain kv pairs.

[2020-09-04 21:22] ampprojectbot opened #5 "🚨 Error: googletag is not defined"
Details
---
**Error report:** [link](http://go/ampe/CN3Kz7LplPf7Yg)
**First seen:** Jul 20, 2020
**Frequency:** ~ 5,430/day

Stacktrace
---
<pre><code>Error: googletag is not defined
    at CMS.loadBanners (<a href="https://github.com/__export/1597261609905/blob/system/modules/com.tfsla.diario.rosario3.v2/sp/desktop/resources/scripts/application.js#L1175">modules/com.tfsla.diario.rosario3.v2/sp/de

[2020-09-04 21:23] rcebulko commented on #5
This appears only on the domain `rosario3.com`, so it appears to be a publisher-specific bug. Closing.

[2020-09-04 21:23] #5 closed, assigned to nobody

[2020-09-04 21:27] ampprojectbot opened #6 "🚨 Error: undefined is not an object (evaluating 'c.ampdoc')"
Details
---
**Error report:** [link](http://go/ampe/CLad-eS8vsD18wE)
**First seen:** Apr 9, 2020
**Frequency:** ~ 1,349/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'c.ampdoc')
    at ampdoc (<a href="https://github.com/ampproject/amphtml/blob/2008220050001/src/multidoc-manager.js#L516">src/multidoc-manager.js:516</a>:11)
    at closeShadowRoot_ (<a href="https://gi

[2020-09-04 21:31] rcebulko commented on #6
This appears predominantly on the domain `eg-ru`, and the few occurrences on other domains also appear to be Russian. All are on iPhone browser. I suspect this is some combination of publisher error (possibly relating to encoding?) or something Safari does with Russian sites or characters, as I've seen this pattern before of an unlikely error showing up only on Russion domains.

[2020-09-04 21:33] ampprojectbot opened #7 "🚨 Error: failed to attach shadow document for page: The object can not be found here."
Details
---
**Error report:** [link](http://go/ampe/CPuhoPa5gvG1nAE)
**First seen:** Jul 25, 2020
**Frequency:** ~ 564/day

Stacktrace
---
<pre><code>Error: failed to attach shadow document for page: The object can not be found here.
    at oldBody (<a href="https://github.com/ampproject/amphtml/blob/2008290323001/src/shadow-embed.js#L204">src/shadow-embed.js:204</a>:27)
    at shadowRoot (<a href

[2020-09-04 21:34] rcebulko commented on #7
Apparent dupe of https://github.com/ampproject/error-reporting/issues/6 albeit with a different stacktrace. Also occurring almost exclusively on `eg.ru` on iPhones. Closing as publisher-specific error.

[2020-09-04 21:34] #7 closed, assigned to nobody

[2020-09-24 17:48] ampprojectbot opened #8 "🚨 Error: Cannot read property 'split' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CKLf6JngstqzPQ)
**First seen:** Jul 10, 2020
**Frequency:** ~ 4,524/day

Stacktrace
---
<pre><code>Error: Cannot read property 'split' of undefined
    at expr (<a href="https://github.com/ampproject/amphtml/blob/2009040024003/src/json.js#L85">src/json.js:85</a>:16)
    at getValueForExpr (<a href="https://github.com/ampproject/amphtml/blob/20090

[2020-09-24 17:48] ampprojectbot opened #9 "🚨 Error: network error"
Details
---
**Error report:** [link](http://go/ampe/CJ7Jiq600eOgYw)
**First seen:** Jun 14, 2018
**Frequency:** ~ 990/day

Stacktrace
---
<pre><code>Error: network error
    at network-error.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2020-09-24 17:48] rcebulko commented on #8
Note: stacktrace appears distinct from https://github.com/ampproject/amphtml/issues/27952

[2020-09-24 17:51] rcebulko commented on #9
Showed up on the radar for surpassing the threshold under Experiment A, but appears to be a longstanding error with occurrences going back for years across all channels. Closing.

[2020-09-24 17:51] #9 closed, assigned to nobody

[2020-09-25 18:08] ampprojectbot opened #10 "🚨 Error: failed to execute a task:: Attempt to use history.replaceState() more than 100 times per 30 seconds"
Details
---
**Error report:** [link](http://go/ampe/CJ-Ps9yT0LyLXA)
**First seen:** Jul 23, 2020
**Frequency:** ~ 22,083/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: Attempt to use history.replaceState() more than 100 times per 30 seconds
    at state (<a href="https://github.com/ampproject/amphtml/blob/2009112034002/src/service/history-impl.js#L444">src/service/history-impl.js

[2020-09-25 18:15] rcebulko commented on #10
Same error: http://go/ampe/CN6CxN-LjJahpgE?project=amp-error-reporting

This is an error we've seen before (https://github.com/ampproject/amphtml/issues/17969) a while ago, but it massively spiked recently. The spike appears to be driven almost entirely by https://www-motor1-com.cdn.ampproject.org/ , but the logs indicate these are occurring pretty much exclusively A) on the new iOS 14 and B) in a

[2020-09-25 18:16] rcebulko commented on #10
One sample URL that reported (from viewer): https://www.google.com/amp/s/www-motor1-com.cdn.ampproject.org/c/s/www.motor1.com/news/445681/genesis-g80-electric-spied-nurburgring/amp?usqp=mq331AQDsAEg

[2020-09-29 16:02] ampprojectbot opened #11 "🚨 Error: The string did not match the expected pattern."
Details
---
**Error report:** [link](http://go/ampe/CIC9nbeWza2I4QE)
**First seen:** Apr 8, 2020
**Frequency:** ~ 5,572/day

Stacktrace
---
<pre><code>Error: The string did not match the expected pattern.
    at res (<a href="https://github.com/ampproject/amphtml/blob/2009112034002/extensions/amp-consent/0.1/amp-consent.js#L613">extensions/amp-consent/0.1/amp-consent.js:613</a>:20)
</code></pre>

[2020-09-29 16:05] rcebulko commented on #11
Sample URL: https://www.express.co.uk/showbiz/tv-radio/1340919/Doctor-Who-Jodie-Whittaker-danger-Master-alive-revenge-Missy-mistake-BBC-video/amp

Appears to occur only on Safari. This instance only seems to register for express.co.uk, but there are many similar duplicate error reports on other domains. A cursory investigation suggests this may be CORS-related, but I'm not certain. It's also possi

[2020-09-29 16:08] calebcordry commented on #11
I think @micajuine-ho has been working on this recently

[2020-09-29 17:00] micajuine-ho commented on #11
The error is due to this: https://github.com/ampproject/amphtml/issues/29655

The vendor passing back an invalid JSON, which is unable to be parsed. I added the try/catch block with the userAssert.

@rcebulko Is `userAssert()` the same as `user().error()`?

[2020-09-29 17:21] rcebulko commented on #11
They should be roughly equivalent; in fact, instead of `userAssert(false, msg)` it's probably preferable to call `user().error(msg)` directly, but that's not the issue here.

[code]

I suspect what is happening is that the try/catch added in the above fix isn't actually catching an error (which explains why the error message you added hasn't shown up in any error logs). When the line `return xhrSe

[2020-09-29 17:26] micajuine-ho commented on #11
Ahh I see. Thanks for the thorough explanation Ryan. I agree that moving to async/await is the preferred approach here. I will look into making this change.

[2020-09-29 20:26] rcebulko commented on #11
Update: apparently we aren't able to use async/await in AMP code yet, so `.catch` will have to do =/

[2020-09-29 20:28] micajuine-ho commented on #11
@rcebulko Hmm, should we surround the `res.json()` (in `xhr-impl#xssiJson()`) in a try catch block instead?

[2020-09-29 20:50] rcebulko commented on #11
Doing that would reproduce the same issue a level lower: `res.json()` would successfully return a Promise, and that promise would reject with the error. At some point in the chain (probably where the current try/catch is), we need to `.catch` and handle the error there

[2020-09-30 15:35] samouri commented on #11
I agree with @rcebulko's analysis.  try/catch cant be used to catch rejecting promises unless we use async/await.

If you don't need to distinguish between the fetch and json parsing error, you can throw the catch block at the end.
[code]

Nit: `userAssert(false, ...` seems strange

[2020-09-30 16:38] rcebulko commented on #11
We can at least clean up some of the confusion from nesting here if we take advantage of promise chaining:

[code]

[2020-10-01 20:36] #11 closed, assigned to micajuine-ho

[2020-10-02 14:36] rcebulko commented on #11
Thanks for fixing this up!

[2020-10-06 21:54] ampprojectbot opened #12 "🚨 Error: Cannot read property 'style' of null"
Details
---
**Error report:** [link](http://go/ampe/COC0l7X179DcLA)
**First seen:** Apr 15, 2020
**Frequency:** ~ 5,922/day

Stacktrace
---
<pre><code>Error: Cannot read property 'style' of null
    at element (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/src/style.js#L145">src/style.js:145</a>:4)
    at getStyle (<a href="https://github.com/ampproject/amphtml/blob/20092523200

[2020-10-06 21:54] rcebulko commented on #12
Domain-specific error on `ettoday.com`. Closing as user/publisher error

[2020-10-09 14:07] ampprojectbot opened #13 "🚨 Error: Kb(...).getImpl is not a function"
Details
---
**Error report:** [link](http://go/ampe/CPK9vp61uqPBUw)
**First seen:** Apr 23, 2020
**Frequency:** ~ 12,543/day

Stacktrace
---
<pre><code>Error: Kb(...).getImpl is not a function
    at storyEl (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/extensions/amp-story/1.0/amp-story-page.js#L407">extensions/amp-story/1.0/amp-story-page.js:407</a>:4)
    at initializeMedia

[2020-10-09 14:09] rcebulko commented on #12
Resurfaced at higher volume on other domains: [link](http://go/ampe/COWDspz3lOTDGw?project=amp-error-reporting)

[2020-10-09 14:10] ampprojectbot opened #14 "🚨 Error: Cannot read property 'style' of null"
Details
---
**Error report:** [link](http://go/ampe/COWDspz3lOTDGw)
**First seen:** Apr 9, 2020
**Frequency:** ~ 5,898/day

Stacktrace
---
<pre><code>Error: Cannot read property 'style' of null
    at element (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/src/style.js#L119">src/style.js:119</a>:4)
    at setStyle (<a href="https://github.com/ampproject/amphtml/blob/200925232000

[2020-10-09 14:11] rcebulko commented on #14
Closing as dupe of #12

[2020-10-09 14:11] #14 closed, assigned to nobody

[2020-10-09 14:13] rcebulko commented on #13
/cc @ampproject/wg-stories
![image](https://user-images.githubusercontent.com/6694512/95593582-e2c4b580-0a17-11eb-99ee-903947675924.png)
Appears to impact Android browsers
Example URL: https://www-forbes-com.cdn.ampproject.org/v/s/www.forbes.com/stories/more/10-audubon-photography-award-winners-2020/?amp_js_v=a6&amp_gsa=1

[2020-10-09 18:02] gmajoulet commented on #13
Interesting... Let's add a `whenUpgradedToCustomElement()` before calling `getImpl`.

[2020-10-09 18:03] gmajoulet commented on #13
cc @mszylkowski do you have time to work on this one?

[2020-10-09 18:04] cramforce commented on #13
This might explain some of the white renders we've heard about.

[2020-10-09 19:02] gmajoulet commented on #13
@cramforce do you want to cherry-pick this into beta it so it goes to production on Tuesday? The fix is very straightforward and harmless.

[2020-10-09 19:35] cramforce commented on #13
Let's do

[2020-10-12 14:44] ampprojectbot opened #15 "🚨 Error: AbortController is not defined"
Details
---
**Error report:** [link](http://go/ampe/CP73hZK85JrilwE)
**First seen:** Oct 10, 2020
**Frequency:** ~ 6,431/day

Stacktrace
---
<pre><code>Error: AbortController is not defined
    at AbortController (<a href="https://github.com/ampproject/amphtml/blob/2010100157000/src/service/resource.js#L942">src/service/resource.js:942</a>:32)
    at task (<a href="https://github.com/ampproject/am

[2020-10-12 14:45] rcebulko commented on #15
/cc @jridgewell @erwinmombay 100% of these occurrences are in ESM

[2020-10-12 14:51] rcebulko commented on #15
Seems very likely to have been caused by https://github.com/ampproject/amphtml/pull/30426 , which introduced the `AbortController` constructor but appears to not actually import it in `resources.js`.

[2020-10-12 15:14] ampprojectbot opened #16 "🚨 Error: Can't find variable: AbortController"
Details
---
**Error report:** [link](http://go/ampe/CO3dw-iQ4JH9ogE)
**First seen:** Oct 10, 2020
**Frequency:** ~ 2,519/day

Stacktrace
---
<pre><code>Error: Can't find variable: AbortController
    at isLayoutPending (<a href="https://github.com/ampproject/amphtml/blob/2010100157000/src/service/resource.js#L1000">src/service/resource.js:1000</a>:2)
    at nextPassDelay (<a href="https://github.c

[2020-10-12 15:15] rcebulko commented on #16
Closing as dupe of #15 , albeit via different code path

[2020-10-12 15:15] #16 closed, assigned to nobody

[2020-10-12 19:30] jridgewell commented on #15
Closed by https://github.com/ampproject/amphtml/pull/30624, and we're doing a nightly cherry-pick to resolve it.

[2020-10-12 19:30] #15 closed, assigned to nobody

[2020-10-12 19:39] #13 closed, assigned to gmajoulet, mszylkowski

[2020-10-12 19:52] ampprojectbot opened #17 "🚨 Error: failed to execute a task:: Request replaceHistory failed: Sf"
Details
---
**Error report:** [link](http://go/ampe/CI6s6pzHxNPyJQ?project=amp-error-reporting), [link 2](http://go/ampe/CKC376fCmcT9Eg?project=amp-error-reporting)
**First seen:** Apr 8, 2020
**Frequency:** ~ 551,283/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: Request replaceHistory failed: Sf
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2009252320001/ext

[2020-10-12 19:56] rcebulko commented on #17
This is a very high-frequency error, and the two links above are for the Android and iPhone versions respectively. Previously we saw an error like this in https://github.com/ampproject/amphtml/issues/25643, which was the result of the AMP Viewer failing to get local storage permission due to browser settings. That was handled by catching the error in `ViewerStorageBinding` This error stems from th

[2020-10-12 20:07] rcebulko commented on #17
@ampproject/wg-viewers It looks like this is coming from `HistoryBindingVirtual` in either [`replace`](https://github.com/ampproject/amphtml/blob/master/src/service/history-impl.js#L985) or [`updateFragment`](https://github.com/ampproject/amphtml/blob/master/src/service/history-impl.js#L1106). Is there a viewer capability check that might be missing in one of these spots? Alternately, is the sourc

[2020-10-19 21:20] ampprojectbot opened #18 "🚨 Error: The position mobilex was not defined in the config."
Details
---
**Error report:** [link](http://go/ampe/CJ7Y2PKr3P3mlAE)
**First seen:** May 6, 2020
**Frequency:** ~ 10,918/day

Stacktrace
---
<pre><code>Error: The position mobilex was not defined in the config.
    Please use another position or define it.
    at y</e.prototype.getPosition (<a href="https://github.com/simple-site/dist/blob/js/common-9fcf98cc3e02172ae54d.js#L10">common-9fcf98cc3e02

[2020-10-20 13:39] ampprojectbot opened #19 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CNy-7d70k6SImAE)
**First seen:** Oct 15, 2020
**Frequency:** ~ 55/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at win (<a href="https://github.com/ampproject/amphtml/blob/2010162313000/src/service.js#L285">src/service.js:285</a>:9)
    at win (<a href="https://github.com/ampproject/amphtml/blob/201016

[2020-10-26 21:54] ampprojectbot opened #20 "🚨 Error: Failed to execute 'observe' on 'IntersectionObserver': Cannot observe a cross-origin target because the observer has a root margin value specified as a percent."
Details
---
**Error report:** [link](http://go/ampe/CLC3rO7nrd789wE)
**First seen:** Oct 26, 2020
**Frequency:** ~ 146/day

Stacktrace
---
<pre><code>Error: Failed to execute 'observe' on 'IntersectionObserver': Cannot observe a cross-origin target because the observer has a root margin value specified as a percent.
    at observe (<a href="https://github.com/ampproject/amphtml/blob/2010162313002/

[2020-10-26 22:26] jridgewell commented on #20
/cc @samouri

[2020-10-26 22:29] dvoytenko commented on #20
To clarify: is this PROD?

[2020-10-26 22:30] samouri commented on #20
@dvoytenko: Only "seen in" Beta and Experiment-A.
Chromium source: https://chromium.googlesource.com/chromium/src/+/7beaecbcac87a75ced26b4415fb84fc2cf559307/third_party/WebKit/Source/core/dom/IntersectionObserver.cpp#210

[2020-10-26 22:31] dvoytenko commented on #20
Found this error [here](https://chromium.googlesource.com/chromium/src/+/7beaecbcac87a75ced26b4415fb84fc2cf559307/third_party/WebKit/Source/core/dom/IntersectionObserver.cpp#210) too. I don't yet understand why we're not running into it with the loader experiment?

[2020-10-26 22:38] jridgewell commented on #20
Can we just switch from root margin percents to absolutes?

[2020-10-26 22:41] dvoytenko commented on #20
Yes. For this class of problems we definitely can. Pull request is on the way.

[2020-10-26 22:48] dvoytenko commented on #20
Fix: https://github.com/ampproject/amphtml/pull/30871

[2020-10-27 16:52] #20 closed, assigned to nobody

[2020-10-30 17:01] ampprojectbot opened #21 "🚨 Error: a.h.onResizeSuccess is not a function. (In 'a.h.onResizeSuccess()', 'a.h.onResizeSuccess' is undefined)"
Details
---
**Error report:** [link](http://go/ampe/CJKryMiP2rnINg)
**First seen:** Nov 14, 2018
**Frequency:** ~ 4,201/day

Stacktrace
---
<pre><code>Error: a.h.onResizeSuccess is not a function. (In 'a.h.onResizeSuccess()', 'a.h.onResizeSuccess' is undefined)
    at <a href="https://github.com/ampproject/amphtml/blob/2010132225002/extensions/amp-ad/0.1/amp-ad-xorigin-iframe-handler.js#L458">exte

[2020-10-30 17:03] rcebulko commented on #21
/cc @ampproject/wg-ads-reviewers This showed a pretty recent spike:
![image](https://user-images.githubusercontent.com/6694512/97735066-3a52c000-1ab0-11eb-82d9-a8ea9b9573aa.png)
Unclear if it's a change in AMP, something changed on the backend, or something entirely unrelated

[2020-10-30 17:34] jridgewell commented on #21
@powerivq Can you take a look?

[2020-10-30 18:13] powerivq commented on #21
Hi, @jridgewell @rcebulko

Can confirm there have not been recent changes on AMP side. Looking at some example pages found in the log, it appears that they all use doubleclick, which does not support context API, so this error is expected.

My theory is that some advertiser in Poland just copy and paste their ad creative from an amp-ad 3p vendor to doubleclick and didn't realize resize API is not

[2020-10-30 18:29] ampprojectbot opened #22 "🚨 Error: undefined is not an object (evaluating 'b.linkmate_enabled')"
Details
---
**Error report:** [link](http://go/ampe/CNiZm5rnvYC00AE)
**First seen:** Nov 28, 2019
**Frequency:** ~ 44,527/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'b.linkmate_enabled')
    at config (<a href="https://github.com/ampproject/amphtml/blob/2010132225003/extensions/amp-smartlinks/0.1/amp-smartlinks.js#L91">extensions/amp-smartlinks/0.1/amp-smartlinks.

[2020-11-02 17:33] rcebulko commented on #21
Thanks for looking into this Shihua. Is this something we can preemptively catch/re-raise as a user error?

[2020-11-17 15:57] ampprojectbot opened #23 "🚨 Error: undefined is not an object (evaluating 'c.ampdoc')"
Details
---
**Error report:** [link](http://go/ampe/CM_Pi8DJi7jswQE)
**First seen:** Jul 23, 2020
**Frequency:** ~ 1,152/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'c.ampdoc')
    at ampdoc (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/src/multidoc-manager.js#L516">src/multidoc-manager.js:516</a>:11)
    at <a href="https://github.com/ampproje

[2020-11-17 15:58] rcebulko commented on #23
@calebcordry Is this related to https://github.com/ampproject/amphtml/issues/31203 ?

[2020-11-17 16:12] calebcordry commented on #23
I don't think so, this appears to be an amp-next-page error?

[2020-11-17 16:15] rcebulko commented on #23
This has been occurring at a low volume for some time, but spiked last night for some reason. I'll keep an eye on it.

[2020-11-17 20:51] ampprojectbot opened #24 "🚨 Error: Cannot read property '__AMP_TOP' of null"
Details
---
**Error report:** [link](http://go/ampe/CLSTirCww8acbA)
**First seen:** Nov 13, 2020
**Frequency:** ~ 51/day

Stacktrace
---
<pre><code>Error: Cannot read property '__AMP_TOP' of null
    at win (<a href="https://github.com/ampproject/amphtml/blob/2011140244000/src/service.js#L271">src/service.js:271</a>:9)
    at getTopWindow (<a href="https://github.com/ampproject/amphtml/blob/201114

[2020-11-19 21:16] ampprojectbot opened #25 "🚨 Error: Cannot read property 'timeStamps' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CP3ipp6vp7bC1AE)
**First seen:** Jul 31, 2020
**Frequency:** ~ 964/day

Stacktrace
---
<pre><code>Error: Cannot read property 'timeStamps' of undefined
    at timeStamps (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/extensions/amp-story/1.0/media-performance-metrics-service.js#L413">extensions/amp-story/1.0/media-performance-

[2020-11-23 19:01] ampprojectbot opened #26 "🚨 Error: Parse error on line 1:"
Details
---
**Error report:** [link](http://go/ampe/CJXE09rtiJesuQE)
**First seen:** Apr 18, 2020
**Frequency:** ~ 1,699/day

Stacktrace
---
<pre><code>Error: Parse error on line 1:

    ^
    Expecting 'NOT', '(', 'NAME', 'STRING', 'NUMERIC', 'TRUE', 'FALSE', 'NULL', got 'EOF'
    at str (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/build/parsers/access-expr-impl.js#L185">bui

[2020-11-24 17:28] ampprojectbot opened #27 "🚨 Error: Y.get(...) is not a function"
Details
---
**Error report:** [link](http://go/ampe/CL6Mlern0d6ZkwE)
**First seen:** Nov 1, 2020
**Frequency:** ~ 7,391/day

Stacktrace
---
<pre><code>Error: Y.get(...) is not a function
    at isIntersecting (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/src/viewport-observer.js#L117">src/viewport-observer.js:117</a>:21)
</code></pre>

Notes
---
`@samouri` modified `src/viewpo

[2020-11-25 20:16] ampprojectbot opened #28 "🚨 Error: Cannot call a class constructor without |new|"
Details
---
**Error report:** [link](http://go/ampe/COrG8rfHg9297wE)
**First seen:** Nov 17, 2020
**Frequency:** ~ 545/day

Stacktrace
---
<pre><code>Error: Cannot call a class constructor without |new|
    at element (<a href="https://github.com/ampproject/amphtml/blob/2011140244002/src/base-element.js#L110">src/base-element.js:110</a>:14)
    at <a href="https://github.com/ampproject/amphtml/blo

[2020-11-30 18:17] dvoytenko commented on #27
@samouri a possible issue?

[2020-11-30 18:30] ampprojectbot opened #29 "🚨 Error: Parse error on line 1:"
Details
---
**Error report:** [link](http://go/ampe/CJrv5PzLpKqRzgE)
**First seen:** Nov 6, 2020
**Frequency:** ~ 46,906/day

Stacktrace
---
<pre><code>Error: Parse error on line 1:
    data.viewsLeft =0 1
    ------------------^
    Expecting 'EOF', 'OR', 'AND', ')', 'EQ', 'DEQ', 'NEQ', 'LT', 'LTE', 'GT', 'GTE', got 'NUMERIC'
    at Error (<a href="https://github.com/ampproject/amphtml/blob/20110

[2020-11-30 18:57] samouri commented on #27
I think this could happen when `observe` and `unobserve` both occur before the `ioCallback` fires. That is the only way we could delete the callback before calling it. In this case, even though we are throwing an error it is likely harmless since we wouldn't want to fire the callback for a quickly unobserved element anyway.

We can solve simply with an if condition that checks for callback existen

[2020-11-30 22:21] #27 closed, assigned to samouri

[2020-12-01 18:16] ampprojectbot opened #30 "🚨 Error: fetchCidTimeout"
Details
---
**Error report:** [link](http://go/ampe/CKm-oL_WpsjkgQE)
**First seen:** Oct 22, 2020
**Frequency:** ~ 12,446/day

Stacktrace
---
<pre><code>Error: fetchCidTimeout
    at reject (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/src/utils/promise.js#L61">src/utils/promise.js:61</a>:18)
    at a (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/src/types

[2020-12-01 19:19] ampprojectbot opened #31 "🚨 Error: failed to attach shadow document for page: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node."
Details
---
**Error report:** [link](http://go/ampe/CNSSoP7uhdSVDg)
**First seen:** Nov 18, 2020
**Frequency:** ~ 715/day

Stacktrace
---
<pre><code>Error: failed to attach shadow document for page: Failed to execute 'removeChild' on 'Node': The node to be removed is not a child of this node.
    at removeChild (<a href="https://github.com/ampproject/amphtml/blob/2011200012000/src/shadow-embed.js#

[2020-12-01 19:33] ampprojectbot opened #32 "🚨 Error: failed to attach shadow document for page: The object can not be found here."
Details
---
**Error report:** [link](http://go/ampe/CLfv_ueogdiwPw)
**First seen:** Jul 31, 2020
**Frequency:** ~ 678/day

Stacktrace
---
<pre><code>Error: failed to attach shadow document for page: The object can not be found here.
    at oldBody (<a href="https://github.com/ampproject/amphtml/blob/2011070101001/src/shadow-embed.js#L183">src/shadow-embed.js:183</a>:27)
    at shadowRoot (<a href=

[2020-12-14 18:35] ampprojectbot opened #33 "🚨 Error: Failed to parse <script> contents. Is it valid JSON?"
Details
---
**Error report:** [link](http://go/ampe/CIi6mq3UxIrWJA)
**First seen:** Nov 18, 2020
**Frequency:** ~ 11,274/day

Stacktrace
---
<pre><code>Error: Failed to parse <script> contents. Is it valid JSON?
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2012050452002/src/json.js#L155">src/json.js:155</a>:14)
    at getChildJsonConfig (<a href="https://github.com/ampproject/

[2020-12-14 19:01] dvoytenko commented on #33
@calebcordry is this the same issue with FIE parsing?

[2020-12-14 19:09] calebcordry commented on #33
I think so yes, but I am very confused about how this could be showing up in anything outside of my rtv exp branch. We had something weird happen where `expA` got turned off in the last release, I am wondering if somehow we shipped it to more users.

cc/ @estherkim

[2020-12-14 20:06] ampprojectbot opened #34 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CJn5nf6s5PbnbA)
**First seen:** Dec 10, 2020
**Frequency:** ~ 980/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at tryResolve (<a href="https://github.com/ampproject/amphtml/blob/2012050452002/src/utils/promise.js#L73">src/utils/promise.js:73</a>:7)
    at <a href="https://github.com/ampprojec

[2020-12-14 20:08] ampprojectbot opened #35 "🚨 Error: failed to execute a task:: timeout"
Details
---
**Error report:** [link](http://go/ampe/COL97KXznJuZJg)
**First seen:** Dec 10, 2020
**Frequency:** ~ 683/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: timeout
    at fn (<a href="https://github.com/ampproject/amphtml/blob/2012050452002/src/utils/promise.js#L75">src/utils/promise.js:75</a>:12)
    at <a href="https://github.com/ampproject/amphtml/blob/2012050452002/s

[2020-12-14 20:16] caroqliu commented on #34
Dedup with https://github.com/ampproject/amphtml/issues/30616

[2020-12-14 20:16] #34 closed, assigned to nobody

[2020-12-14 22:14] calebcordry commented on #33
Thanks to @estherkim & @rcebulko for helping debug. I no longer think this is caused by ads, it is the same error but we see it reported on pages with no ads, e.g. https://www.yoespiritual.com/reflexiones-sobre-la-vida/licenciada-liliana-gonzales-familia-y-escuela-educar-entre-todos.html/amp

We see the volume start to increase on 12/6/20 which is strange as it does not coincide with any amp relea

[2020-12-14 22:21] dvoytenko commented on #33
Hmm. I only see amp-analytics and amp-animation JSON configs there. And both appear to be processed correctly.

[2020-12-14 22:23] calebcordry commented on #33
Yeah I was not able to repro the error on that page, but it shows up in our logs as having the error

[2021-01-04 16:29] ampprojectbot opened #36 "🚨 Error: Could not require external module %s. Did you import the bundle in the extension? react"
Details
---
**Error report:** [link](http://go/ampe/CK7zgIX3hNKnCQ)
**First seen:** Dec 16, 2020
**Frequency:** ~ 1,574/day

Stacktrace
---
<pre><code>Error: Could not require external module %s. Did you import the bundle in the extension? react
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/src/log.js#L710">src/log.js:710</a>:16)
    at apply (<a href="https://git

[2021-01-04 16:31] rcebulko commented on #36
/cc @erwinmombay this popped up right before the winter holidays/freeze. Does this look related to ESM?

[2021-01-04 16:32] ampprojectbot opened #37 "🚨 Error: null is not an object (evaluating 'p[0].renderCompleted')"
Details
---
**Error report:** [link](http://go/ampe/CJTu4N-eiqfYKQ)
**First seen:** Dec 17, 2020
**Frequency:** ~ 1,420/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'p[0].renderCompleted')
    at renderCompleted (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/extensions/amp-a4a/0.1/amp-a4a.js#L1803">extensions/amp-a4a/0.1/amp-a4a.js:1803</a>:28)
</code

[2021-01-04 16:33] ampprojectbot opened #38 "🚨 Error: undefined is not an object (evaluating 'this.P.options')"
Details
---
**Error report:** [link](http://go/ampe/CP2Jzb_A0bbqOQ)
**First seen:** Dec 16, 2020
**Frequency:** ~ 817/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'this.P.options')
    at kd (<a href="https://github.com/rtv/032012232217000/blob/v0/amp-date-picker-0.1.mjs#L35">amp-date-picker-0.1.mjs:35</a>:19247)
    at classList (<a href="https://github.com/ampproj

[2021-01-04 16:40] rcebulko commented on #37
/cc @ampproject/wg-ads-reviewers Not sure what to make of this one, popped up before the freeze

[2021-01-04 16:43] rcebulko commented on #38
/cc @erwinmombay Saw this is occurring in .mjs file, as is the dupe. Unclear if it's an ESM issue or just a general issue, but all the occurrences seem to be ESM

[2021-01-05 17:30] calebcordry commented on #37
Thanks, I will look into this.

[2021-01-08 22:28] #37 closed, assigned to calebcordry

[2021-01-12 17:09] ampprojectbot opened #39 "🚨 Error: Invalid recovery mode!"
Details
---
**Error report:** [link](http://go/ampe/CPya4Pzm4dKKvwE)
**First seen:** Mar 25, 2019
**Frequency:** ~ 2,466/day

Stacktrace
---
<pre><code>Error: Invalid recovery mode!
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/src/log.js#L710">src/log.js:710</a>:16)
    at apply (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/src/log.js#L315">s

[2021-01-12 17:09] ampprojectbot opened #40 "🚨 Error: Failed to construct 'URL': Invalid URL"
Details
---
**Error report:** [link](http://go/ampe/CJzJ9KGjs4nMIA)
**First seen:** Jan 6, 2021
**Frequency:** ~ 209/day

Stacktrace
---
<pre><code>Error: Failed to construct 'URL': Invalid URL
    at <a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/url.js#L124">src/url.js:124</a>:37
    at parseUrlWithA (<a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/ur

[2021-01-12 17:10] rcebulko commented on #39
/cc @ampproject/wg-ads-reviewers this seems to have popped up recently across all release channels. Seems to be affecting Android browsers

[2021-01-12 17:12] rcebulko commented on #40
@alanorozco These popped up starting with the nightly from 1/9, so probably a change late last week. Still in nightly at the moment, no occurrences in Beta/Experimental

[2021-01-12 17:12] rcebulko commented on #40
Seems to be directly related to https://github.com/ampproject/amphtml/issues/31594

[2021-01-12 17:13] rcebulko commented on #40
Edit: only seems to impact the domain `www-aajtak-in.cdn.ampproject.org`, suggesting it's a publisher issue. Closing

[2021-01-12 17:13] #40 closed, assigned to nobody

[2021-01-12 17:14] ampprojectbot opened #41 "🚨 Error: Type error"
Details
---
**Error report:** [link](http://go/ampe/CNO_uLG7kdj94gE)
**First seen:** Jan 6, 2021
**Frequency:** ~ 42/day

Stacktrace
---
<pre><code>Error: Type error
    at url (<a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/url.js#L124">src/url.js:124</a>:45)
    at <a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/preconnect.js#L175">src/preconnect.js:1

[2021-01-12 17:14] ampprojectbot opened #42 "🚨 Error: Type error"
Details
---
**Error report:** [link](http://go/ampe/COutgvux5bLUGQ)
**First seen:** Jan 6, 2021
**Frequency:** ~ 43/day

Stacktrace
---
<pre><code>Error: Type error
    at url (<a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/url.js#L124">src/url.js:124</a>:45)
    at expandInputValue_ (<a href="https://github.com/ampproject/amphtml/blob/2101090132000/src/service/url-replaceme

[2021-01-12 17:16] rcebulko commented on #41
@alanorozco This is almost certainly related to https://github.com/ampproject/amphtml/issues/31594 ; could you take a look?

Seems like a dupe of https://github.com/ampproject/error-reporting/issues/42 but with a slightly different stacktrace, so I left both

[2021-01-12 17:25] ampprojectbot opened #43 "🚨 Error: Illegal invocation"
Details
---
**Error report:** [link](http://go/ampe/CPr91rzliqun8AE)
**First seen:** Mar 31, 2020
**Frequency:** ~ 5,715/day

Stacktrace
---
<pre><code>Error: Illegal invocation
    at createEvent (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/src/dom.js#L977">src/dom.js:977</a>:35)
    at dispatchCustomEvent (<a href="https://github.com/ampproject/amphtml/blob/2012232217000/sr

[2021-01-13 16:50] Enriqe commented on #43
/cc @dvoytenko

[2021-01-13 18:32] dvoytenko commented on #43
/cc @jridgewell This seems dangerous. But based on the refactoring in https://github.com/ampproject/amphtml/pull/31058 I don't see that codepath changing at all. Any clues?

[2021-01-13 21:15] jridgewell commented on #43
Reading the reports, it looks like this is coming from a Facebook webview on iOS.

[2021-01-13 21:15] jridgewell commented on #43
Likely, a bad webview setup

[2021-01-14 17:24] alanorozco commented on #40
@rcebulko This is a specific set of publishers all affected by the same analytics config problem. This was addressed on https://github.com/ampproject/amphtml/issues/31883

[2021-01-14 17:50] alanorozco commented on #41
Same root cause and impact surface as #40

[2021-01-14 17:50] #41 closed, assigned to nobody

[2021-01-14 18:05] dvoytenko commented on #43
Thanks!

[2021-01-15 16:22] #36 closed, assigned to nobody

[2021-01-15 17:06] samouri commented on #43
Why wouldn't this have been previously occurring?

[2021-01-15 20:10] jridgewell commented on #43
Facebook could have updated their webview code. Webviews are special in that they can inject any JS they want to glue together the webpage and the app's native code. The error is coming from that glue, though I don't know why because I can't debug it.

[2021-01-25 18:30] ampprojectbot opened #44 "🚨 Error: Template failed: [object HTMLTemplateElement] [object HTMLDivElement]: y is not a function. (In 'y(e)', 'y' is null)"
Details
---
**Error report:** [link](http://go/ampe/CMfG-bfPrsfvLg)
**First seen:** Jan 22, 2021
**Frequency:** ~ 525/day

Stacktrace
---
<pre><code>Error: Template failed:  [object HTMLTemplateElement] [object HTMLDivElement]: y is not a function. (In 'y(e)', 'y' is null)
    at element (<a href="https://github.com/ampproject/amphtml/blob/2101230412000/node_modules/dompurify/src/purify.js#L503">n

[2021-01-25 21:00] jridgewell commented on #44
This affects iOS 9 only, and is caused by an [change in DOMPurify](https://github.com/cure53/DOMPurify/commit/8e299900fb42a49045b6025ca472cbc4d525e178), which we upgraded in https://github.com/ampproject/amphtml/pull/32090. @dvoytenko Do you think we should downgrade?

[2021-01-25 21:19] dvoytenko commented on #44
I believe we explicitly do not support iOS9. Is there a strong reason to change that rule?

[2021-01-25 21:23] jridgewell commented on #44
Yah, I think it's fine to mark as won't fix? Both AMP and DOMPurify don't consider Safari 9 a supported browser.

[2021-01-25 21:24] dvoytenko commented on #44
I agree

[2021-01-25 21:30] #44 closed, assigned to nobody

[2021-01-26 15:54] ampprojectbot opened #45 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CKS6xKjMz-v4DQ)
**First seen:** Jul 23, 2020
**Frequency:** ~ 2,408/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2101212155000/src/log.js#L710">src/log.js:710</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/2101212155000/src/log.js#L316">s

[2021-01-26 15:55] ampprojectbot opened #46 "🚨 Error: Cannot read property 'hasAttribute' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CK6G7Lm_iJrvcQ)
**First seen:** May 2, 2020
**Frequency:** ~ 2,240/day

Stacktrace
---
<pre><code>Error: Cannot read property 'hasAttribute' of undefined
    at hasAttribute (<a href="https://github.com/ampproject/amphtml/blob/2101212155000/src/service/navigation.js#L757">src/service/navigation.js:757</a>:23)
    at viewerInterceptsNavigation (<a

[2021-01-26 15:56] ampprojectbot opened #47 "🚨 Error: Unexpected token N in JSON at position 0"
Details
---
**Error report:** [link](http://go/ampe/CKDe1JPtruj3oAE)
**First seen:** Dec 7, 2018
**Frequency:** ~ 5,323/day

Stacktrace
---
<pre><code>Error: Unexpected token N in JSON at position 0
    at unexpected-token-n-in-json-at-position-0.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-01-26 15:56] rcebulko commented on #47
Only occurring on the domain `gadgets-ndtv-com.cdn.ampproject.org`; appears to be a publisher issue. Closing.

[2021-01-26 15:56] #47 closed, assigned to nobody

[2021-01-26 15:59] rcebulko commented on #46
![image](https://user-images.githubusercontent.com/6694512/105869448-3f4ae100-5fc5-11eb-8e62-f2587a8a99c9.png)
When is it possible for `ampdoc.getRootNode().documentElement` to be undefined?
/cc @ampproject/wg-viewers since the stacktrace doesn't seem to provide many clues. Seems to be occurring only on Android browsers.

[2021-01-26 16:02] rcebulko commented on #45
Closing as dupe of https://github.com/ampproject/amphtml/issues/8926

[2021-01-26 16:02] #45 closed, assigned to nobody

[2021-01-26 16:48] dvoytenko commented on #46
`getRootNode()` is defined as a `!Document|!ShadowRoot`. There's no `documentElement` in `ShadowRoot` interface. I'm a bit surprised we are not getting a compiler warning here. But in either case - this needs to be fixed.

[2021-01-27 17:06] samouri commented on #46
Can shadow root docs be opted in to navigation interception? How do shadow docs specify capabilities/opt-ins?

[2021-01-27 18:00] dvoytenko commented on #46
`Navigation` is definitely used. The viewer-interception is not possible, of course. So the fix here could simply be to check that `documentElement` exists. Or simply `ampdoc.getRootNode().documentElement?.hasAttribute(...)` would be enough. Though a cleaner approach would probably be explicitly checking for a `ampdoc.isSingleDoc()`.

[2021-01-27 22:57] rcebulko opened #48 "[TEST ISSUE PLEASE IGNORE]"
Code:

https://github.com/ampproject/amphtml/blob/fbe8248b875e5ee966f92227c2ed003303181285/src/log.js#L710

[2021-01-27 22:58] #48 closed, assigned to nobody

[2021-01-28 15:48] ampprojectbot opened #49 "🚨 Error: null is not an object (evaluating 'e.ad.adFormat')"
Details
---
**Error report:** [link](http://go/ampe/CKfNu4uvwqaS6gE)
**First seen:** Aug 12, 2020
**Frequency:** ~ 5,583/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'e.ad.adFormat')
    at https://www.chefkoch.de/ads/gujAd.min.js:1:394081
    at https://www.chefkoch.de/ads/gujAd.min.js:1:394528
</code></pre>

/cc @ampproject/release-on-duty

[2021-01-28 15:49] ampprojectbot opened #50 "🚨 Error: null is not an object (evaluating 'a.__AMP_TOP')"
Details
---
**Error report:** [link](http://go/ampe/CNaM9qq564jGGQ)
**First seen:** Nov 27, 2020
**Frequency:** ~ 386/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.__AMP_TOP')
    at __AMP_TOP (<a href="https://github.com/ampproject/amphtml/blob/2101211748002/src/service.js#L291">src/service.js:291</a>:13)
    at win (<a href="https://github.com/ampproject/amphtml/blob

[2021-01-28 17:57] #46 closed, assigned to nobody

[2021-02-01 16:56] ampprojectbot opened #51 "🚨 Error: undefined is not an object (evaluating 'this.bb().getLayoutSize')"
Details
---
**Error report:** [link](http://go/ampe/CIv5jIHh_PTlaQ)
**First seen:** Jan 9, 2021
**Frequency:** ~ 4,110/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'this.bb().getLayoutSize')
    at getLayoutSize (<a href="https://github.com/ampproject/amphtml/blob/2101211748002/src/custom-element.js#L1002">src/custom-element.js:1002</a>:33)
    at <a href="https://g

[2021-02-01 16:59] rcebulko commented on #51
@dvoytenko this started appearing in small volumes 1/9 (probably the first Nightly build that contained https://github.com/ampproject/amphtml/pull/31762 from 1/7) and has grown in volume as it reached Beta/Experimental. Appears to be related to the changes in `amp-img` or `custom-element`.

[2021-02-01 17:10] rcebulko commented on #51
/cc @samouri as reviewer of ampproject/amphtml#31762
Looks like this error is occurring only on iPhone user-agents

Errors surface across both ESM and non-ESM builds

Stacktrace indicates `this.getResource_()` is returning `undefined`. That function call evaluates to `this.getResources().getResourceForElement(this)` returning `undefined`

[2021-02-01 17:13] rcebulko commented on #51
Stacktrace indicates `this.getResource_()` is returning `undefined`. That function call evaluates to `this.getResources().getResourceForElement(this)` returning null

[2021-02-01 17:19] samouri commented on #51
Two potential dupes:
1. https://pantheon.corp.google.com/errors/CL749-nM2JHyzQE?time=P30D&filter=text%3AgetLayoutSize&project=amp-error-reporting&folder&organizationId=433637338589
2. https://pantheon.corp.google.com/errors/CLXF7LrbjqyNZw?time=P30D&filter=text%3AgetLayoutSize&project=amp-error-reporting&folder&organizationId=433637338589

The error means the Resource doesn't exist for the img and

[2021-02-01 17:24] samouri commented on #51
Could be that this section of code should also include `ResourceState.LAYOUT_SCHEDULED`:

https://github.com/ampproject/amphtml/blob/6c58c508906c88431d2471ddf2c2c5b00edd64c3/src/service/resources-impl.js#L1913-L1917

[2021-02-01 17:26] samouri commented on #51
Could be that this section of code needs to include `ResourceState.LAYOUT_SCHEDULED`:

https://github.com/ampproject/amphtml/blob/6c58c508906c88431d2471ddf2c2c5b00edd64c3/src/service/resources-impl.js#L1913-L1917

[2021-02-02 18:37] samouri commented on #42
Link is no longer valid. Should we close this? cc @rcebulko

[2021-02-02 19:36] #42 closed, assigned to nobody

[2021-02-09 17:12] ampprojectbot opened #52 "🚨 Error: kd is not a function"
Details
---
**Error report:** [link](http://go/ampe/CI630KervdGd3AE)
**First seen:** Mar 1, 2019
**Frequency:** ~ 1,587/day

Stacktrace
---
<pre><code>Error: kd is not a function
    at throttlePromiseResolver_ (<a href="https://github.com/ampproject/amphtml/blob/2101300534003/extensions/amp-ad/0.1/concurrent-load.js#L94">extensions/amp-ad/0.1/concurrent-load.js:94</a>:8)
</code></pre>

Notes
---

[2021-02-09 17:13] micajuine-ho commented on #52
/cc @ampproject/wg-monetization

[2021-02-09 17:14] powerivq commented on #52
@calebcordry Is it no signing?

[2021-02-09 18:31] calebcordry commented on #52
Seems like it, but not sure how it affects 3p impl. Will look, thanks.

[2021-02-12 17:07] ampprojectbot opened #53 "🚨 Error: Failed to parse <script> contents. Is it valid JSON?"
Details
---
**Error report:** [link](http://go/ampe/CMH4goO8v-jhTg)
**First seen:** Feb 4, 2021
**Frequency:** ~ 5,841/day

Stacktrace
---
<pre><code>Error: Failed to parse <script> contents. Is it valid JSON?
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2102060044001/src/json.js#L155">src/json.js:155</a>:14)
    at getChildJsonConfig (<a href="https://github.com/ampproject/am

[2021-02-12 17:11] rcebulko commented on #53
This is a dupe of #33 with a different stacktrace due to the renamed method in #32342. Closing to keep that thread primary.

[2021-02-16 17:14] ampprojectbot opened #54 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLElement]"
Details
---
**Error report:** [link](http://go/ampe/CJew-bS7w_7P-gE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 27/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLElement]
    at Wa (https://cdn.ampproject.org/rtv/042102130314000/v0.mjs:2:10961)
    at Va.La (https://cdn.ampproject.org/rtv/042102130314000/v0.mjs:2:9183)
    at Va.error (http

[2021-02-16 17:16] rcebulko commented on #54
/cc @jridgewell @erwinmombay This is a new error that started popping up recently on Android browsers. It looks like sourcemapping ESM might be acting up?

[2021-02-17 01:29] samouri commented on #51
Looks like the fix worked. Bug is not appearing in nightlies or beta anymore.

[2021-02-17 01:29] #51 closed, assigned to samouri

[2021-02-19 21:54] ampprojectbot opened #55 "🚨 Error: Failed to construct 'IntersectionObserver': member root is not of type Element."
Details
---
**Error report:** [link](http://go/ampe/CKL2_M-hnsC5hwE)
**First seen:** Mar 13, 2020
**Frequency:** ~ 7,323/day

Stacktrace
---
<pre><code>Error: Failed to construct 'IntersectionObserver': member root is not of type Element.
    at <a href="https://github.com/ampproject/amphtml/blob/2102130314001/src/ini-load.js#L130">src/ini-load.js:130</a>:17
    at <a href="https://github.com/ampp

[2021-02-19 22:56] calebcordry commented on #52
It appears this error has been fixed in latest exp A promote.

[2021-02-19 22:56] #52 closed, assigned to nobody

[2021-02-19 23:25] #55 closed, assigned to nobody

[2021-02-22 17:36] ampprojectbot opened #56 "🚨 Error: Attempting to trigger event for detached target: %s [object HTMLUnknownElement]"
Details
---
**Error report:** [link](http://go/ampe/CPiz27Cuv7CbigE)
**First seen:** Feb 13, 2021
**Frequency:** ~ 7,945/day

Stacktrace
---
<pre><code>Error: Attempting to trigger event for detached target: %s [object HTMLUnknownElement]
    at attempting-to-trigger-event-for-detached-target-s-object-htmlunknownelement.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-02-22 17:38] rcebulko commented on #56
@samouri I see you recently put this error in place. Is it a renaming of an existing error or a new one, as far as you know?

[2021-02-24 21:55] ampprojectbot opened #57 "🚨 Error: a.getAmpDoc(...).getRootNode(...).createElement is not a function"
Details
---
**Error report:** [link](http://go/ampe/COHA7vH90tmi9QE)
**First seen:** Feb 17, 2021
**Frequency:** ~ 6,209/day

Stacktrace
---
<pre><code>Error: a.getAmpDoc(...).getRootNode(...).createElement is not a function
    at createElement (<a href="https://github.com/ampproject/amphtml/blob/2102130314001/extensions/amp-onetap-google/0.1/amp-onetap-google.js#L192">extensions/amp-onetap-googl

[2021-02-24 22:23] jridgewell commented on #57
/cc @alanorozco

[2021-02-24 22:24] jridgewell commented on #56
deduping to #54.

[2021-02-24 22:24] #56 closed, assigned to nobody

[2021-02-24 22:24] jridgewell commented on #54
@samouri This error is getting huge numbers.

[2021-02-24 23:55] samouri commented on #54
I'm scratching my head as to how it is possible that https://github.com/ampproject/amphtml/pull/32637 is creating so many errors, and especially that the errors weren't already preexisting. I would have expected this to be the new name for the `__AMP_TOP` error.

Reports are all coming from doubleclick ads.

I went to example sites and wasn't able to reproduce. On a hunch, I tested both adblock pl

[2021-02-25 00:47] samouri commented on #54
Two leftover weak hunches:
1. doubleclick _expects_ to report on detached elements somehow, and it hadn't been throwing errors.
2. a different change [in the same release window](https://github.com/ampproject/amphtml/compare/2102060044003...2102130314001) is causing this. no commits look suspicious though.

[2021-02-25 06:34] #57 closed, assigned to nobody

[2021-02-25 17:51] #54 closed, assigned to nobody

[2021-02-26 17:45] ampprojectbot opened #58 "🚨 Error: Doc factory failed: amp-mustache: Cannot read property 'amp-mustache' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CLiHyLXZirLDNA)
**First seen:** Feb 25, 2021
**Frequency:** ~ 452/day

Stacktrace
---
<pre><code>Error: Doc factory failed:  amp-mustache: Cannot read property 'amp-mustache' of undefined
    at name (<a href="https://github.com/ampproject/amphtml/blob/2102250634000/src/service/extensions-impl.js#L349">src/service/extensions-impl.js:349</a>:45)

[2021-02-26 17:46] ampprojectbot opened #59 "🚨 Error: Failed to construct 'Worker': Access to the script at 'blob:https://www.quotidiano.net/18a38be0-42f3-4823-898e-dcf7b88bfced' is denied by the document's Content Security Policy."
Details
---
**Error report:** [link](http://go/ampe/CO-_qsmgy_XeTw)
**First seen:** Jan 3, 2018
**Frequency:** ~ 5,306/day

Stacktrace
---
<pre><code>Error: Failed to construct 'Worker': Access to the script at 'blob:https://www.quotidiano.net/18a38be0-42f3-4823-898e-dcf7b88bfced' is denied by the document's Content Security Policy.
    at <a href="https://github.com/ampproject/amphtml/blob/210223

[2021-02-26 17:49] rcebulko commented on #59
/cc @samouri was there an update to mobile chrome or permissions for web workers or something? This CSP error started appearing yesterday across a few domains, and across all release channels. It's a small # of referrers what I can tell, not sure if it's one source that own a few sites or a wider issue

[2021-02-26 17:50] rcebulko commented on #58
/cc @dvoytenko This seems like it may be directly related to https://github.com/ampproject/amphtml/pull/32853

[2021-02-26 17:50] rcebulko commented on #58
/cc reviewers @calebcordry @jridgewell for visibility since it looks like Dima is OOO atm

[2021-02-26 20:51] jridgewell commented on #58
Investigating now. It only affects nightly, so if I can land a fix we should be ok.

[2021-02-26 21:00] jridgewell commented on #58
This is a really fun cross-module private name mangling issue. We seem to have multiple copies of the `registerTemplate_` function, each with a different name, in any binary using mustache.

[2021-02-26 21:46] jridgewell commented on #58
Reverted the PR, so this should disappear. But I'm going to leave this open while I try to fix the real underlying issues so we can rollfoward.

[2021-02-26 22:23] dvoytenko commented on #58
Ugh. I saw that private `registerTemplate_`. There's just no need for it to be private.

[2021-02-27 00:28] jridgewell commented on #59
There's nothing that we can do about this. These are origin pages that are setting a `Content-Security-Policy` with `script-src` that are not including `blob:`. The page that I found is setting `script-src 'unsafe-inline' 'unsafe-eval' *;`, and `*` doesn't cover `blob:` (it covers hosts, not schemes).

[2021-02-27 02:14] #58 closed, assigned to nobody

[2021-02-27 02:30] kristoferbaxter commented on #59
Perhaps we should enhance the guidance on the Page Experience tool to detect broken CSP values for AMP documents?

What do you think @sebastianbenz?

[2021-03-02 18:09] samouri commented on #54
This should be solved in next week's stable push

[2021-03-04 21:10] ampprojectbot opened #60 "🚨 Error: Assertion failed"
Details
---
**Error report:** [link](http://go/ampe/CKm59Mze2ZTbKQ)
**First seen:** Mar 4, 2021
**Frequency:** ~ 3,213/day

Stacktrace
---
<pre><code>Error: Assertion failed
    at <a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.js#L92">src/core/assert.js:92</a>:16
    at assertion (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.

[2021-03-04 21:28] ampprojectbot opened #61 "🚨 Error: Cannot read property 'contentWindow' of null"
Details
---
**Error report:** [link](http://go/ampe/CJ3D8urS5fXT7QE)
**First seen:** Apr 10, 2020
**Frequency:** ~ 2,838/day

Stacktrace
---
<pre><code>Error: Cannot read property 'contentWindow' of null
    at contentWindow (<a href="https://github.com/ampproject/amphtml/blob/2102200206005/extensions/amp-ima-video/0.1/amp-ima-video.js#L281">extensions/amp-ima-video/0.1/amp-ima-video.js:281</a>:37

[2021-03-04 21:31] rcebulko commented on #60
As a result of https://github.com/ampproject/amphtml/pull/32828 , `devAsserts` temporarily made it into Nightly build. They are being removed again (fix in https://github.com/ampproject/amphtml/pull/33087) but this was one assertion which was failing in production. Suggest replacing this `devAssert` with explicit error report to collect data.

[2021-03-04 21:32] ampprojectbot opened #62 "🚨 Error: Assertion failed"
Details
---
**Error report:** [link](http://go/ampe/CIOw_aT74IOLwAE)
**First seen:** Mar 4, 2021
**Frequency:** ~ 1,974/day

Stacktrace
---
<pre><code>Error: Assertion failed
    at message (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.js#L92">src/core/assert.js:92</a>:29)
    at getElementsByClassName (<a href="https://github.com/ampproject/amphtml/blob/210304

[2021-03-04 21:33] rcebulko commented on #62
As a result of https://github.com/ampproject/amphtml/pull/32828 , `devAsserts` temporarily made it into Nightly build. They are being removed again (fix in https://github.com/ampproject/amphtml/pull/33087) but this was one assertion which was failing in production. Suggest replacing this `devAssert` with explicit error report to collect data.

[2021-03-04 21:34] ampprojectbot opened #63 "🚨 Error: Assertion failed"
Details
---
**Error report:** [link](http://go/ampe/CL2_z_j99M66Vw)
**First seen:** Mar 4, 2021
**Frequency:** ~ 1,104/day

Stacktrace
---
<pre><code>Error: Assertion failed
    at message (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.js#L92">src/core/assert.js:92</a>:29)
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/a

[2021-03-04 21:34] ampprojectbot opened #64 "🚨 Error: Assertion failed"
Details
---
**Error report:** [link](http://go/ampe/CI6emb22y87AgQE)
**First seen:** Mar 4, 2021
**Frequency:** ~ 168/day

Stacktrace
---
<pre><code>Error: Assertion failed
    at <a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.js#L92">src/core/assert.js:92</a>:16
    at assertion (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.j

[2021-03-04 21:34] rcebulko commented on #63
As a result of https://github.com/ampproject/amphtml/pull/32828 , `devAsserts` temporarily made it into Nightly build. They are being removed again (fix in https://github.com/ampproject/amphtml/pull/33087) but this was one assertion which was failing in production. Suggest replacing this `devAssert` with explicit error report to collect data.

[2021-03-04 21:35] rcebulko commented on #64
As a result of https://github.com/ampproject/amphtml/pull/32828 , `devAsserts` temporarily made it into Nightly build. They are being removed again (fix in https://github.com/ampproject/amphtml/pull/33087) but this was one assertion which was failing in production. Suggest replacing this `devAssert` with explicit error report to collect data.

[2021-03-04 21:35] ampprojectbot opened #65 "🚨 Error: Assertion failed"
Details
---
**Error report:** [link](http://go/ampe/CKOMo-enpImtAw)
**First seen:** Mar 4, 2021
**Frequency:** ~ 32/day

Stacktrace
---
<pre><code>Error: Assertion failed
    at message (<a href="https://github.com/ampproject/amphtml/blob/2103040444000/src/core/assert.js#L92">src/core/assert.js:92</a>:29)
    at getElementsByClassName (<a href="https://github.com/ampproject/amphtml/blob/2103040444

[2021-03-04 21:35] rcebulko commented on #65
As a result of https://github.com/ampproject/amphtml/pull/32828 , `devAsserts` temporarily made it into Nightly build. They are being removed again (fix in https://github.com/ampproject/amphtml/pull/33087) but this was one assertion which was failing in production. Suggest replacing this `devAssert` with explicit error report to collect data.

[2021-03-12 18:29] ampprojectbot opened #66 "🚨 Error: Failed to execute 'sendBeacon' on 'Navigator': Beacons are only supported over HTTP(S)."
Details
---
**Error report:** [link](http://go/ampe/CJ6v2LLM-YSBhAE)
**First seen:** Mar 11, 2021
**Frequency:** ~ 80/day

Stacktrace
---
<pre><code>Error: Failed to execute 'sendBeacon' on 'Navigator': Beacons are only supported over HTTP(S).
    at WindowInterface (<a href="https://github.com/ampproject/amphtml/blob/2103102322000/extensions/amp-analytics/0.1/transport.js#L269">extensions/amp-ana

[2021-03-15 15:43] ampprojectbot opened #67 "🚨 Error: Cannot read property 'getVendorSource' of null"
Details
---
**Error report:** [link](http://go/ampe/CMyc063y6NGnRg)
**First seen:** Mar 5, 2021
**Frequency:** ~ 1,236/day

Stacktrace
---
<pre><code>Error: Cannot read property 'getVendorSource' of null
    at getVendorSource (<a href="https://github.com/ampproject/amphtml/blob/2103060631002/extensions/amp-access-scroll/0.1/amp-access-scroll.js#L30">extensions/amp-access-scroll/0.1/amp-access-scr

[2021-03-15 15:44] rcebulko commented on #67
This appears to occur only on the domain `https://www-bleepingcomputer-com.cdn.ampproject.org/`. Closing as a publisher issue

[2021-03-15 15:44] #67 closed, assigned to nobody

[2021-03-15 15:51] ampprojectbot opened #68 "🚨 Error: Failed to execute 'sendBeacon' on 'Navigator': Beacons are only supported over HTTP(S)."
Details
---
**Error report:** [link](http://go/ampe/CJ6v2LLM-YSBhAE)
**First seen:** Mar 11, 2021
**Frequency:** ~ 164/day

Stacktrace
---
<pre><code>Error: Failed to execute 'sendBeacon' on 'Navigator': Beacons are only supported over HTTP(S).
    at WindowInterface (<a href="https://github.com/ampproject/amphtml/blob/2103122145000/extensions/amp-analytics/0.1/transport.js#L269">extensions/amp-an

[2021-03-15 15:52] rcebulko commented on #68
@lannka Is this related to the analytics bisection in progress?

[2021-03-16 15:34] ampprojectbot opened #69 "🚨 Error: Cannot read property 'querySelectorAll' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CIOi5rTqwLXkPw)
**First seen:** Nov 24, 2020
**Frequency:** ~ 2,722/day

Stacktrace
---
<pre><code>Error: Cannot read property 'querySelectorAll' of undefined
    at querySelectorAll (<a href="https://github.com/ampproject/amphtml/blob/2103060631002/extensions/amp-next-page/1.0/service.js#L695">extensions/amp-next-page/1.0/service.js:695</a>:18)

[2021-03-16 15:45] rcebulko commented on #69
@jridgewell I see the last change to amp-next-page was in https://github.com/ampproject/amphtml/commit/b2b920e90858c651c37985d9ef555115402f2047#diff-95df70e7313c7d3ea5b4cc3926fae883dbcb3d3e2ed913ee56bda94b26fad27e ; any guess if these are related? This is occurring pretty frequently

[2021-03-16 15:48] ampprojectbot opened #70 "🚨 Error: Cannot read property 'toString' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CMfL58qJw-qbBg)
**First seen:** May 9, 2018
**Frequency:** ~ 351/day

Stacktrace
---
<pre><code>Error: Cannot read property 'toString' of undefined
    at toString (<a href="https://github.com/ampproject/amphtml/blob/2103122145000/src/polyfills/custom-elements.js#L99">src/polyfills/custom-elements.js:99</a>:30)
</code></pre>

Notes
---
`@jridgewe

[2021-03-16 15:53] rcebulko commented on #70
@calebcordry This seems to be occurring mostly in ExpA; could this be related to that experiment or
 the recent PR that was cherry-picked?

[2021-03-17 20:09] jridgewell commented on #69
Nah, I'm not sure why this is popping up, but it's unrelated. This is running over `this.pages_` which contains both `Page` and `HostPage` instances. Only `HostPage` has a `.document`. So any time we try to call this with a `Page`, we get an error.

[2021-03-18 16:33] ampprojectbot opened #71 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CIiE1s3PwIfIbw)
**First seen:** Sep 19, 2017
**Frequency:** ~ 7,554/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at message (<a href="https://github.com/ampproject/amphtml/blob/2103020156005/src/log.js#L702">src/log.js:702</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/2103020156005/src/log.js#L308">s

[2021-03-19 14:27] ampprojectbot opened #72 "🚨 Error: Doc factory failed: amp-mustache: d is not a function"
Details
---
**Error report:** [link](http://go/ampe/COvjqbrDoN7czQE)
**First seen:** Mar 17, 2021
**Frequency:** ~ 48/day

Stacktrace
---
<pre><code>Error: Doc factory failed:  amp-mustache: d is not a function
    at <a href="https://github.com/ampproject/amphtml/blob/2103180351000/src/service/template-impl.js#L303">src/service/template-impl.js:303</a>:6
    at <a href="https://github.com/ampproj

[2021-03-19 14:32] rcebulko commented on #72
Appears related to https://github.com/ampproject/amphtml/issues/33125 albeit with a different error message. Stackdriver seems to be grouping them together, despite very different stacktraces. Unclear why

[2021-03-19 16:06] dvoytenko commented on #72
From what I can tell this is a mostly benign error. But what concerns me there is that a [user assert two lines up](https://github.com/ampproject/amphtml/blob/2103180351000/src/service/template-impl.js#L303) is not executed. Did we accidentally strip `userAsserts` with `devAsserts`?

[2021-03-22 15:52] rcebulko commented on #17
@ampproject/wg-viewers This continues to be reported at a volume of 1.5~2 million / day, nearly four times the volume of the next most common error. Could you take a look at this?

[2021-03-22 19:03] dvoytenko commented on #17
@ericfs could this possibly be coming from Search?

[2021-03-22 19:44] ericfs commented on #17
Yes, this seems likely to be from Search.

@flaviori
@seanjallen

[2021-03-24 14:06] ampprojectbot opened #73 "🚨 Error: M(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COKCuf_mss3wUQ)
**First seen:** Feb 25, 2021
**Frequency:** ~ 2,636/day

Stacktrace
---
<pre><code>Error: M(...).forEach is not a function
    at forEach (<a href="https://github.com/ampproject/amphtml/blob/2103060631004/extensions/amp-story/1.0/amp-story-page.js#L1881">extensions/amp-story/1.0/amp-story-page.js:1881</a>:65)
    at initializeTabb

[2021-03-24 14:11] rcebulko commented on #73
This error exceeded the Nightly error threshold but appears to be well below thresholds for other release channels. Seems like the volume is low enough to mostly ignore this

[2021-03-24 14:38] ampprojectbot opened #74 "🚨 Error: not allowed"
Details
---
**Error report:** [link](http://go/ampe/CI-e8O_htZiJGg)
**First seen:** May 10, 2019
**Frequency:** ~ 71/day

Stacktrace
---
<pre><code>Error: not allowed
    at String (<a href="https://github.com/ampproject/amphtml/blob/2103230450000/node_modules/web-activities/activity-ports.js#L75">node_modules/web-activities/activity-ports.js:75</a>:18)
    at code (<a href="https://github.com/amp

[2021-03-24 14:40] rsimha commented on #74
This is coming from SWG, and appears to be covered by https://github.com/ampproject/amphtml/issues/27021.

[2021-03-24 14:40] #74 closed, assigned to nobody

[2021-03-24 19:40] jridgewell commented on #73
@Enriqe: `NodeList` does not have a `forEach` method in all browsers. Please use `src/types.js`'s `toArray`, or `src/dom.js`'s `iterateCursor`

[2021-03-24 19:50] dvoytenko commented on #73
Can we ban `NodeList.forEach` and `HTMLCollection.forEach` in our closure conformance config?

[2021-03-24 19:55] jridgewell commented on #73
It's [already banned](https://github.com/ampproject/amphtml/blob/d719c5d1659892d518ecce64a72e0912eb89c6c6/build-system/test-configs/conformance-config.textproto#L485-L489), but it's not catching.

[2021-03-24 20:20] rcebulko commented on #73
Could we stub it in e2e test fixtures so any call to `NodeList#forEach` throws and fails the tests?

[2021-03-24 20:27] rsimha commented on #73
Could this be because our closure `warning_level` is [currently set to `QUIET`](https://github.com/ampproject/amphtml/blob/3e249e2f303ff61e790e15b56bf861d9d971c96a/build-system/compile/compile.js#L275-L276)?

[code]

**Notes:**

- A lot of work has been done by @kristoferbaxter and @dvoytenko in https://github.com/ampproject/amphtml/pull/32875 to fix existing errors that will let us set `warning_l

[2021-03-24 20:53] kristoferbaxter commented on #73
I keep trying to work on splitting apart that massive PR (mostly per analytics vendor) and not having the time.

Would there be someone else who can take this on?

[2021-03-24 22:10] dvoytenko commented on #73
To realistically being able to do that, I think we need to find a way to restrict errors/warnings to only `src/` and `extensions/` folders at first and we can expand the coverage once those are properly reported. Can we do that? If yes, I can volunteer to take on fixing errors (or reapplying fixes from #32875) to `src/` and `extensions/`.

[2021-03-24 23:36] rsimha commented on #73
We can add an option for `warning_level` to the type checker and surface errors only for `src/` and `extensions/`. Should be easy since they're already checked in a [single step](https://github.com/ampproject/amphtml/blob/89dd3df7b8dcbc06e97a12b717059fdc6faf08da/build-system/tasks/check-types.js#L75).

**Edit:** Done in https://github.com/ampproject/amphtml/pull/33469.

[2021-03-29 16:06] #73 closed, assigned to Enriqe

[2021-03-30 20:49] rsimha commented on #73
I just chatted with @samouri, who is interested in driving the merging of these fixes and the switching of the default level from `QUIET` to `DEFAULT` or better.

[2021-04-07 14:03] ampprojectbot opened #75 "🚨 Error: Cannot read property 'style' of null"
Details
---
**Error report:** [link](http://go/ampe/CMX60uja0K-0Pg)
**First seen:** Nov 19, 2019
**Frequency:** ~ 2,123/day

Stacktrace
---
<pre><code>Error: Cannot read property 'style' of null
    at style (<a href="https://github.com/ampproject/amphtml/blob/2103261048002/src/style.js#L142">src/style.js:142</a>:10)
    at getStyle (<a href="https://github.com/ampproject/amphtml/blob/210326104800

[2021-04-07 14:04] caroqliu commented on #75
Dedup with #12

[2021-04-07 14:04] #75 closed, assigned to nobody

[2021-04-07 14:05] caroqliu commented on #12
FYI this came up in nightly (#75) @ampproject/wg-monetization

[2021-04-07 14:06] ampprojectbot opened #76 "🚨 Error: failed to execute a task:: No messaging channel: undefined"
Details
---
**Error report:** [link](http://go/ampe/CIOEyprF1en-OQ)
**First seen:** Sep 19, 2017
**Frequency:** ~ 3,104/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: No messaging channel: undefined
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2103261048002/src/service/viewer-impl.js#L942">src/service/viewer-impl.js:942</a>:23)
    at getChannelError (<a href

[2021-04-07 14:08] caroqliu commented on #76
cc @ampproject/wg-performance

[2021-04-07 15:15] caroqliu commented on #24
Dedup with https://github.com/ampproject/amphtml/issues/28264 which contains more discussion.

[2021-04-07 15:15] #24 closed, assigned to nobody

[2021-04-07 15:42] caroqliu commented on #71
Dedup with https://github.com/ampproject/amphtml/issues/8926

[2021-04-07 15:42] #71 closed, assigned to nobody

[2021-04-07 15:44] caroqliu commented on #23
Dedup with #6

[2021-04-07 15:44] #23 closed, assigned to nobody

[2021-04-07 16:01] #53 closed, assigned to nobody

[2021-04-07 16:01] caroqliu commented on #29
Dedup with https://github.com/ampproject/amphtml/issues/32488

[2021-04-07 16:01] #29 closed, assigned to nobody

[2021-04-08 18:44] rsimha opened #77 "Rename the default branch of this repo from `master` to `main`"
See https://github.com/ampproject/amphtml/issues/32195 for more details

[2021-04-08 19:27] rcebulko commented on #77
Done

[2021-04-08 19:27] #77 closed, assigned to rcebulko

[2021-04-19 19:22] ampprojectbot opened #78 "🚨 Error: {"isTrusted":true}"
Details
---
**Error report:** [link](http://go/ampe/CMuusIfasrncaQ)
**First seen:** Dec 31, 2020
**Frequency:** ~ 45,929/day

Stacktrace
---
<pre><code>Error: {"isTrusted":true}
    at isUserErrorMessage (<a href="https://github.com/ampproject/amphtml/blob/2104081613001/src/error.js#L199">src/error.js:199</a>:4)
    at Math (<a href="https://github.com/ampproject/amphtml/blob/2104081613001/src/err

[2021-04-19 19:24] ampprojectbot opened #79 "🚨 Error: Cannot read property 'naturalWidth' of null"
Details
---
**Error report:** [link](http://go/ampe/CKnngtzG57-NTg)
**First seen:** Apr 13, 2020
**Frequency:** ~ 9,054/day

Stacktrace
---
<pre><code>Error: Cannot read property 'naturalWidth' of null
    at naturalWidth (<a href="https://github.com/ampproject/amphtml/blob/2104081613001/extensions/amp-auto-lightbox/0.1/amp-auto-lightbox.js#L220">extensions/amp-auto-lightbox/0.1/amp-auto-lightbox.

[2021-04-19 20:53] dvoytenko commented on #79
Best I can tell this is unrelated to the experiment B (`V1_IMG_DEFERRED_BUILD`). There's an explicit check there for an image to be built before it can be measured.

[2021-04-20 16:42] dvoytenko commented on #79
Found the reason for this one. Unrelated to the ExpB, but due to my recent pull request. Error is benign - only affects reporting. The fix is in the https://github.com/ampproject/amphtml/pull/33915.

[2021-04-20 21:47] #79 closed, assigned to nobody

[2021-05-06 15:55] ampprojectbot opened #80 "🚨 Error: Unexpected token } in JSON at position 144"
Details
---
**Error report:** [link](http://go/ampe/CIWQpvuUy42a_AE)
**First seen:** Sep 13, 2019
**Frequency:** ~ 7,523/day

Stacktrace
---
<pre><code>Error: Unexpected token } in JSON at position 144
    at parse (<a href="https://github.com/ampproject/amphtml/blob/2104240357000/src/json.js#L112">src/json.js:112</a>:42)
    at getConfig (<a href="https://github.com/ampproject/amphtml/blob/210424

[2021-05-06 15:58] rcebulko commented on #80
Appears only on `https://thebridge-in.cdn.ampproject.org`; seems to be a publisher configuration issue.
@ampproject/wg-stories can we add error handling for `StoryAdConfig#getConfig` here:
https://github.com/ampproject/amphtml/blob/5245f9651f20b96963d01e6f359f6512fff95d66/extensions/amp-story-auto-ads/0.1/story-ad-config.js#L62

Optionally consider using `tryParseJson` provided here:
https://githu

[2021-05-06 15:59] ampprojectbot opened #81 "🚨 Error: {"isTrusted":true}"
Details
---
**Error report:** [link](http://go/ampe/CLmagcWSv-ivYw)
**First seen:** May 1, 2021
**Frequency:** ~ 36,180/day

Stacktrace
---
<pre><code>Error: {"isTrusted":true}
    at associatedElement (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/error-reporting.js#L193">src/error-reporting.js:193</a>:14)
    at Math (<a href="https://github.com/ampproject/amphtml/blob/21

[2021-05-06 16:02] ampprojectbot opened #82 "🚨 Error: {"isTrusted":true}"
Details
---
**Error report:** [link](http://go/ampe/CKC7u-T2oNLHXQ)
**First seen:** Oct 2, 2017
**Frequency:** ~ 109,037/day

Stacktrace
---
<pre><code>Error: {"isTrusted":true}
    at Error (<a href="https://github.com/ampproject/amphtml/blob/2104302228000/src/error-reporting.js#L166">src/error-reporting.js:166</a>:20)
    at reportError (<a href="https://github.com/ampproject/amphtml/blob/210430

[2021-05-06 16:02] rcebulko commented on #81
Closing as dupe of #82

[2021-05-06 16:02] #81 closed, assigned to nobody

[2021-05-06 18:37] gmajoulet commented on #80
@calebcordry can you look into this? Thanks!

[2021-05-06 18:44] calebcordry commented on #80
Sure I think we still want to error here but I can change it to user error with better message.

[2021-05-13 20:14] ampprojectbot opened #83 "🚨 Error: a.lc is not a function. (In 'a.lc()', 'a.lc' is null)"
Details
---
**Error report:** [link](http://go/ampe/CJ7ZzqilsZarXg)
**First seen:** Mar 29, 2019
**Frequency:** ~ 99,295/day

Stacktrace
---
<pre><code>Error: a.lc is not a function. (In 'a.lc()', 'a.lc' is null)
    at <a href="https://github.com/ampproject/amphtml/blob/2105130127000/extensions/amp-a4a/0.1/amp-a4a.js#L2408">extensions/amp-a4a/0.1/amp-a4a.js:2408</a>:6
</code></pre>

/cc @ampproje

[2021-05-13 20:15] ampprojectbot opened #84 "🚨 Error: a.lc is not a function"
Details
---
**Error report:** [link](http://go/ampe/CI6qwLnX_qaLvQE)
**First seen:** Apr 21, 2021
**Frequency:** ~ 26,908/day

Stacktrace
---
<pre><code>Error: a.lc is not a function
    at getCustomRealTimeConfigMacros_ (<a href="https://github.com/ampproject/amphtml/blob/2105130127000/extensions/amp-a4a/0.1/amp-a4a.js#L2408">extensions/amp-a4a/0.1/amp-a4a.js:2408</a>:11)
</code></pre>

/cc @ampp

[2021-05-13 20:19] ampprojectbot opened #85 "🚨 Error: Template failed: [object HTMLTemplateElement] [object HTMLElement]: The string did not match the expected pattern."
Details
---
**Error report:** [link](http://go/ampe/CJnAyqLelMv-oAE)
**First seen:** May 7, 2021
**Frequency:** ~ 5,535/day

Stacktrace
---
<pre><code>Error: Template failed:  [object HTMLTemplateElement] [object HTMLElement]: The string did not match the expected pattern.
    at innerHTML (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/node_modules/dompurify/src/purify.js#L695"

[2021-05-13 20:19] rcebulko commented on #85
Occurs only on `za-pinterest-com.cdn.ampproject.org`; closing as a publisher issue

[2021-05-13 20:19] #85 closed, assigned to nobody

[2021-05-13 21:17] jridgewell commented on #84
Duplicate of https://github.com/ampproject/error-reporting/issues/83.

[2021-05-13 21:17] #84 closed, assigned to nobody

[2021-05-13 22:37] #83 closed, assigned to nobody

[2021-05-24 14:46] ampprojectbot opened #86 "🚨 Error: b.signals is not a function"
Details
---
**Error report:** [link](http://go/ampe/CICqqefz1ebrswE)
**First seen:** May 2, 2019
**Frequency:** ~ 2,824/day

Stacktrace
---
<pre><code>Error: b.signals is not a function
    at signals (<a href="https://github.com/ampproject/amphtml/blob/2105210438000/extensions/amp-image-viewer/0.1/amp-image-viewer.js#L182">extensions/amp-image-viewer/0.1/amp-image-viewer.js:182</a>:8)
    at layo

[2021-05-24 14:47] rcebulko commented on #86
@kristoferbaxter This and the dupes have only been seen in the 05-21 Nightly as far as I can tell, suggesting ampproject/amphtml#34028 is a very likely culprit. Would you mind taking a look at this?

[2021-05-25 01:47] kristoferbaxter commented on #86
I added a change to try and address. Unfortunately there isn't any test coverage for these cases.

Will look at more examples tomorrow and reach out if I can't reproduce.

[2021-05-25 20:40] ampprojectbot opened #87 "🚨 Error: Failed to execute 'animate' on 'Element': Partial keyframes are not supported."
Details
---
**Error report:** [link](http://go/ampe/CM7q1ZqDodT0ngE)
**First seen:** Mar 24, 2019
**Frequency:** ~ 1,104/day

Stacktrace
---
<pre><code>Error: Failed to execute 'animate' on 'Element': Partial keyframes are not supported.
    at animate (<a href="https://github.com/ampproject/amphtml/blob/2105072136000/extensions/amp-animation/0.1/runners/native-web-animation-runner.js#L85">extensi

[2021-06-02 17:11] ampprojectbot opened #88 "🚨 Error: d.isActive is not a function"
Details
---
**Error report:** [link](http://go/ampe/CJKit4WStajeeQ)
**First seen:** Apr 22, 2021
**Frequency:** ~ 2,537/day

Stacktrace
---
<pre><code>Error: d.isActive is not a function
    at isActive (<a href="https://github.com/ampproject/amphtml/blob/2105210438002/extensions/amp-next-page/0.1/amp-next-page.js#L74">extensions/amp-next-page/0.1/amp-next-page.js:74</a>:18)
</code></pre>

Notes
-

[2021-06-02 17:12] ampprojectbot opened #89 "🚨 Error: Cannot destructure property 'sourceElement' of 'Z(...)' as it is undefined."
Details
---
**Error report:** [link](http://go/ampe/CJPGkJ_U9ZC_RQ)
**First seen:** May 12, 2021
**Frequency:** ~ 2,577/day

Stacktrace
---
<pre><code>Error: Cannot destructure property 'sourceElement' of 'Z(...)' as it is undefined.
    at sourceElement (<a href="https://github.com/ampproject/amphtml/blob/2105150310000/extensions/amp-lightbox-gallery/0.1/amp-lightbox-gallery.js#L646">extensions/a

[2021-06-07 17:24] ampprojectbot opened #90 "🚨 Error: Cannot read property 'naturalHeight' of null"
Details
---
**Error report:** [link](http://go/ampe/CPSplbvRssC7Hw)
**First seen:** May 28, 2021
**Frequency:** ~ 16,852/day

Stacktrace
---
<pre><code>Error: Cannot read property 'naturalHeight' of null
    at naturalHeight (<a href="https://github.com/ampproject/amphtml/blob/2106030132000/extensions/amp-auto-lightbox/0.1/amp-auto-lightbox.js#L220">extensions/amp-auto-lightbox/0.1/amp-auto-lightb

[2021-06-28 21:08] ampprojectbot opened #91 "🚨 Error: Uncaught TypeError: Cannot read property 'impression' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CMeZl5DE_72VNA)
**First seen:** Mar 1, 2021
**Frequency:** ~ 5,272/day

Stacktrace
---
<pre><code>Error: Uncaught TypeError: Cannot read property 'impression' of undefined
    at uncaught-typeerror-cannot-read-property-impression-of-undefined.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-06-28 21:09] rcebulko commented on #91
Occurs only on the `g1.globo.com` domain. Closing as publisher issue.

[2021-06-28 21:09] #91 closed, assigned to nobody

[2021-07-02 15:00] ampprojectbot opened #92 "🚨 Error: Unexpected token e in JSON at position 4043"
Details
---
**Error report:** [link](http://go/ampe/CIWptsK-oaK19AE)
**First seen:** Jul 1, 2021
**Frequency:** ~ 3,247/day

Stacktrace
---
<pre><code>Error: Unexpected token e in JSON at position 4043
    at unexpected-token-e-in-json-at-position-4043.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-07-02 15:01] rcebulko commented on #92
Occurs only on domain `m-recipes-timesofindia-com.cdn.ampproject.org`. Closing as publisher error.

[2021-07-02 15:01] #92 closed, assigned to nobody

[2021-07-02 15:02] ampprojectbot opened #93 "🚨 Error: this.ca.toggleAttribute is not a function"
Details
---
**Error report:** [link](http://go/ampe/CJ_pnLXNhuTJBg)
**First seen:** Apr 10, 2021
**Frequency:** ~ 1,984/day

Stacktrace
---
<pre><code>Error: this.ca.toggleAttribute is not a function
    at toggleAttribute (<a href="https://github.com/ampproject/amphtml/blob/2106182132000/extensions/amp-story/1.0/amp-story-draggable-drawer.js#L264">extensions/amp-story/1.0/amp-story-draggable-draw

[2021-07-02 15:06] rcebulko commented on #93
@processprocess
`headerEl_` is defined as nullable here: https://github.com/ampproject/amphtml/blob/2106182132000/extensions/amp-story/1.0/amp-story-draggable-drawer.js#L100
It's then accessed without a check here: https://github.com/ampproject/amphtml/blob/2106182132000/extensions/amp-story/1.0/amp-story-draggable-drawer.js#L264
Would you mind taking a peek at this?

/cc @samouri This is an excel

[2021-07-07 14:30] ampprojectbot opened #94 "🚨 Error: Cannot read property 'forEach' of null"
Details
---
**Error report:** [link](http://go/ampe/CKeIudiFm_OsJA)
**First seen:** Apr 25, 2019
**Frequency:** ~ 67/day

Stacktrace
---
<pre><code>Error: Cannot read property 'forEach' of null
    at forEach (<a href="https://github.com/ampproject/amphtml/blob/2107030008000/extensions/amp-animation/0.1/runners/native-web-animation-runner.js#L122">extensions/amp-animation/0.1/runners/native-web-an

[2021-07-07 14:31] ampprojectbot opened #95 "🚨 Error: Cannot read property 'forEach' of null"
Details
---
**Error report:** [link](http://go/ampe/CKeIudiFm_OsJA)
**First seen:** Apr 25, 2019
**Frequency:** ~ 67/day

Stacktrace
---
<pre><code>Error: Cannot read property 'forEach' of null
    at forEach (<a href="https://github.com/ampproject/amphtml/blob/2107030008000/extensions/amp-animation/0.1/runners/native-web-animation-runner.js#L122">extensions/amp-animation/0.1/runners/native-web-an

[2021-07-07 14:33] rcebulko commented on #94
@mszylkowski Could you take a look at this? It seems like the `pause` method has a `devAssert` but not a `devAssertArray`. I'm not sure exactly why it's failing right now though. Seems to have been introduced (or at least re-triggered an existing bug) in #34466

[2021-07-08 16:32] mszylkowski commented on #94
Ok so quick update: I was able to repro the bug, essentially when `visibilityState=prerender&webview=1` and you start the story on a page with animations ([example](https://timesofindia.indiatimes.com/entertainment/marathi/web-stories/best-marathi-movies-of-sai-tamhankar/photostory/84229383.cms?from=mdr#visibilityState=prerender&webview=1&page=page3)) and long press to pause (only works on mobile/

[2021-07-08 22:32] mszylkowski commented on #94
Seems like there was a try/catch that was catching this error before the change in #34466, even though the comments on the try/catch don't reflect the reasons why it was try/catching it. It was removed since the comment on those lines were fixed, but this brought the edge-case back, and since the try/catch was removed, they started surfacing.

https://github.com/ampproject/amphtml/pull/34466/files

[2021-07-08 22:37] mszylkowski commented on #95
Closing as it's a duplicate of #94

[2021-07-08 22:37] #95 closed, assigned to nobody

[2021-07-09 23:22] #94 closed, assigned to mszylkowski

[2021-07-12 14:27] rcebulko commented on #94
Thanks for taking care of this!

[2021-07-12 21:35] ampprojectbot opened #96 "🚨 Error: Unexpected token f in JSON at position 7610"
Details
---
**Error report:** [link](http://go/ampe/COCC9uDCz4S5wgE)
**First seen:** Jul 12, 2021
**Frequency:** ~ 1,484/day

Stacktrace
---
<pre><code>Error: Unexpected token f in JSON at position 7610
    at unexpected-token-f-in-json-at-position-7610.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-07-12 21:39] rsimha commented on #96
I took a peek at the referrer URL for this error and discovered that the error is due to non-escaped quotes. For example...

**Referrer URL:** [link](https://m-timesofindia-com.cdn.ampproject.org/v/s/m.timesofindia.com/life-style/relationships/web-stories/most-beautiful-wedding-traditions-around-the-world/photostory/82064902.cms?amp_js_v=as6&usqp=mq331AQKKAFQArABIIACAw==)

**Console error:**
![ima

[2021-07-12 21:56] gmajoulet commented on #96
It's publisher related. I'm surprised the error isn't caught, I just checked and there's a bunch of try/catch supposed to handle that.
@mszylkowski this is low priority but if you have 10 minutes can you look into this? I'm tempted to close but I'll let you do it.

[2021-07-14 14:25] mszylkowski commented on #96
Agree with @gmajoulet, the publisher has fixed the error within 1 day, and it makes sense that this error is thrown so they can also see that the JSON is not properly formatted (either in their own logs or on the story directly). Didn't investigate why the error is not being caught properly, but unless we start seeing multiple errors like this one on this repo, it has pretty low impact. Will close

[2021-07-14 14:25] #96 closed, assigned to nobody

[2021-07-26 15:02] ampprojectbot opened #97 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CO64h822haycOw)
**First seen:** Jun 2, 2021
**Frequency:** ~ 1,435/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at message (<a href="https://github.com/ampproject/amphtml/blob/2107092322000/src/core/error/index.js#L59">src/core/error/index.js:59</a>:22)
    at <a href="https://github.com/ampp

[2021-08-02 15:43] ampprojectbot opened #98 "🚨 Error: The fetching process for the media resource was aborted by the user agent at the user's request."
Details
---
**Error report:** [link](http://go/ampe/CIyejIz8jryOYg)
**First seen:** Jul 16, 2019
**Frequency:** ~ 7,281/day

Stacktrace
---
<pre><code>Error: The fetching process for the media resource was aborted by the user agent at the user's request.
    at the-fetching-process-for-the-media-resource-was-aborted-by-the-user-agent-at-the-user-s-request.js:1:1
</code></pre>

/cc @ampproject/rele

[2021-08-04 14:06] ampprojectbot opened #99 "🚨 Error: Cannot read property 'style' of null"
Details
---
**Error report:** [link](http://go/ampe/CIrxtYSrl-ylvQE)
**First seen:** Mar 20, 2021
**Frequency:** ~ 49,911/day

Stacktrace
---
<pre><code>Error: Cannot read property 'style' of null
    at style (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/src/core/dom/style.js#L121">src/core/dom/style.js:121</a>:10)
    at mutator (<a href="https://github.com/ampproject/amphtm

[2021-08-04 14:07] ampprojectbot opened #100 "🚨 Error: null is not an object (evaluating 'h.style')"
Details
---
**Error report:** [link](http://go/ampe/CN7xqYeTzJ6VDw)
**First seen:** Jun 7, 2021
**Frequency:** ~ 9,697/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'h.style')
    at style (<a href="https://github.com/ampproject/amphtml/blob/2107240354000/src/core/dom/style.js#L121">src/core/dom/style.js:121</a>:10)
    at mutator (<a href="https://github.com/ampproject/a

[2021-08-05 18:20] jridgewell commented on #99
For posterity:

This was tracked to amp-onetap-google: https://github.com/ampproject/amphtml/blob/a62b451774b56838259583f983fa73580b519a3a/extensions/amp-onetap-google/0.1/amp-onetap-google.js#L137

It can be seen by going to https://www-nytimes-com.cdn.ampproject.org/c/s/www.nytimes.com/live/2021/08/04/world/covid-delta-variant-vaccine.amp.html?usqp=mq331AQKKAFQArABIIACAw%3D%3D, and clicking the

[2021-08-10 20:29] ampprojectbot opened #101 "🚨 Error: SyntaxError: JSON Parse error: Unable to parse JSON string"
Details
---
**Error report:** [link](http://go/ampe/CMTcovj2xODlQQ)
**First seen:** Feb 18, 2021
**Frequency:** ~ 6,768/day

Stacktrace
---
<pre><code>Error: SyntaxError: JSON Parse error: Unable to parse JSON string
    at syntaxerror-json-parse-error-unable-to-parse-json-string.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-08-10 20:33] calebcordry commented on #101
The referrer for this one is all `https://googleads.g.doubleclick.net/ `. The error started 8/9/21 in stable which doesn't match with any prod promotion so perhaps just a sever side error?

cc/ @zombifier @ampproject/wg-monetization

[2021-08-16 15:57] rcebulko commented on #82
This error is appearing >90% in the Experiment B channel with the "amp-img in the deferred mode" experiment.
/cc @dvoytenko in case you have any guesses as to the root

[2021-08-23 14:51] ampprojectbot opened #102 "🚨 Error: #revenue-disclaimer does not exist."
Details
---
**Error report:** [link](http://go/ampe/CP_YrMXcwJvZCg)
**First seen:** May 16, 2020
**Frequency:** ~ 64,976/day

Stacktrace
---
<pre><code>Error: #revenue-disclaimer does not exist.
    at <a href="https://github.com/ampproject/amphtml/blob/2108052321001/extensions/amp-bind/0.1/bind-impl.js#L569">extensions/amp-bind/0.1/bind-impl.js:569</a>:24
</code></pre>

/cc @ampproject/release-on

[2021-08-31 17:51] ampprojectbot opened #103 "🚨 Error: (intermediate value).formatToParts is not a function"
Details
---
**Error report:** [link](http://go/ampe/CNfuycGe1_fugQE)
**First seen:** Aug 28, 2021
**Frequency:** ~ 41/day

Stacktrace
---
<pre><code>Error: (intermediate value).formatToParts is not a function
    at formatToParts (<a href="https://github.com/ampproject/amphtml/blob/2108280007000/extensions/amp-date-display/format.js#L23">extensions/amp-date-display/format.js:23</a>:12)
    at getT

[2021-08-31 17:55] jridgewell commented on #103
/to @alanorozco

This is still nightly, so we're catching it early.

[2021-08-31 17:56] alanorozco commented on #103
@jridgewell Should be fixed as part of ampproject/amphtml#35884, since we're now using optional chaining:
[code]

[2021-08-31 17:57] jridgewell commented on #103
Sweet

[2021-08-31 17:57] #103 closed, assigned to alanorozco

[2021-09-07 17:51] ampprojectbot opened #104 "🚨 Error: "[worker-dom]: Function \"fetchData\" threw: \"\"Origin https://amp.tgcom24.mediaset.it is not allowed by Access-Control-Allow-Origin.\"\"""
Details
---
**Error report:** [link](http://go/ampe/CJnPjtLJkNKeXg)
**First seen:** Oct 1, 2017
**Frequency:** ~ 9,406/day

Stacktrace
---
<pre><code>Error: "[worker-dom]: Function \"fetchData\" threw: \"\"Origin https://amp.tgcom24.mediaset.it is not allowed by Access-Control-Allow-Origin.\"\""
    at tryJsonStringify (<a href="https://github.com/ampproject/amphtml/blob/2108192119000/src/error-re

[2021-09-07 17:51] rcebulko commented on #104
Appears to be exclusively reported by the `amp.tgcom24.mediaset.it` domain; closing as publisher error.

[2021-09-07 17:51] #104 closed, assigned to nobody

[2021-09-14 18:13] ampprojectbot opened #105 "🚨 Error: #revenue-disclaimer does not exist."
Details
---
**Error report:** [link](http://go/ampe/CNr5rKzuw5rO2QE)
**First seen:** Aug 17, 2021
**Frequency:** ~ 3,120/day

Stacktrace
---
<pre><code>Error: #revenue-disclaimer does not exist.
    at <a href="https://github.com/ampproject/amphtml/blob/2108280007001/extensions/amp-bind/0.1/bind-impl.js#L553">extensions/amp-bind/0.1/bind-impl.js:553</a>:24
    at iframe (<a href="https://github.co

[2021-09-14 18:24] jridgewell commented on #105
@samouri: https://github.com/ampproject/amphtml/blob/2108280007001/extensions/amp-bind/0.1/bind-impl.js#L553 should be using a User error.

[2021-09-14 20:37] samouri commented on #105
Make sense. I can take this

[2021-09-29 17:16] ampprojectbot opened #106 "🚨 Error: Cannot read properties of null (reading 'getVisibilityState')"
Details
---
**Error report:** [link](http://go/ampe/CMbJ_u_KzfbiZQ)
**First seen:** Sep 28, 2021
**Frequency:** ~ 6,766/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'getVisibilityState')
    at getVisibilityState (<a href="https://github.com/ampproject/amphtml/blob/2109272305000/src/service/performance-impl.js#L506">src/service/performance-impl.js:506</a>:31)
    a

[2021-09-29 18:20] #106 closed, assigned to nobody

[2021-10-04 15:42] ampprojectbot opened #107 "🚨 Error: rejected promise [object PromiseRejectionEvent]"
Details
---
**Error report:** [link](http://go/ampe/CNCuhu7vzOGFlAE)
**First seen:** Mar 14, 2018
**Frequency:** ~ 1,004/day

Stacktrace
---
<pre><code>Error: rejected promise [object PromiseRejectionEvent]
    at querySelectorAll (<a href="https://github.com/ampproject/amphtml/blob/2109272305001/src/font-stylesheet-timeout.js#L56">src/font-stylesheet-timeout.js:56</a>:43)
</code></pre>

Notes
---

[2021-10-04 15:43] ampprojectbot opened #108 "🚨 Error: "[worker-dom]: Function \"fetchData\" threw: \"\"Failed to fetch\"\"""
Details
---
**Error report:** [link](http://go/ampe/CKPD2fOloanq7QE)
**First seen:** Nov 27, 2020
**Frequency:** ~ 725/day

Stacktrace
---
<pre><code>Error: "[worker-dom]: Function \"fetchData\" threw: \"\"Failed to fetch\"\""
    at messageArray (<a href="https://github.com/ampproject/amphtml/blob/2109272305001/src/error-reporting.js#L198">src/error-reporting.js:198</a>:36)
</code></pre>

Notes
-

[2021-10-04 15:43] rcebulko commented on #108
@samouri Is this related to the worker dom thing that broke last week?

[2021-10-04 15:45] rcebulko commented on #107
@samouri I'm seeing an overwhelming number of errors in Experiment C that Stackdriver thinks are different, with different stacktraces, despite identical error messages. In this case, it doesn't even make sense how this error could have occurred in this location. Is it possible source maps are broken in ExpC with esbuild?

[2021-10-04 16:03] samouri commented on #107
Thinks are different from each other or thinks are different from their equivalent on `stable`? I'll investigate the source maps

[2021-10-04 16:07] samouri commented on #108
Nope. This looks like something thats existed for a long time which should be marked as pub error

[2021-10-04 16:29] rcebulko commented on #108
Closing as pub error limited to the domain `amp-tgcom24-mediaset-it.cdn.ampproject.org`

[2021-10-04 16:29] #108 closed, assigned to samouri

[2021-10-04 16:33] samouri commented on #108
@rcebulko, isn't there still action for us to perform here? I.e. making sure we report as `user().error()`?
EDIT: we already do this

[2021-10-11 15:19] ampprojectbot opened #109 "🚨 Error: failed to execute a task:: timeout"
Details
---
**Error report:** [link](http://go/ampe/CKbD3IC2gIXgcw)
**First seen:** Oct 5, 2021
**Frequency:** ~ 6,090/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: timeout
    at <a href="https://github.com/ampproject/amphtml/blob/2109272305001/src/polyfills/custom-elements.js#L29">src/polyfills/custom-elements.js:29</a>:22
    at isElement (<a href="https://github.com/ampproje

[2021-10-11 15:20] processprocess commented on #109
Closing as this is a duplicate of ampproject/error-reporting#30

[2021-10-11 15:20] #109 closed, assigned to nobody

[2021-10-21 17:34] ampprojectbot opened #110 "🚨 Error: undefined is not an object (evaluating 'a.document.createEvent')"
Details
---
**Error report:** [link](http://go/ampe/CJnvj9a35MWd3AE)
**First seen:** Oct 17, 2021
**Frequency:** ~ 20,648/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 'a.document.createEvent')
    at createEvent (<a href="https://github.com/ampproject/amphtml/blob/2110082201002/src/utils/event-helper.js#L30">src/utils/event-helper.js:30</a>:27)
    at a (<a href="ht

[2021-11-08 17:25] ampprojectbot opened #111 "🚨 Error: Cannot read property 'metrics' of undefined"
Details
---
**Error report:** [link](http://go/ampe/CLuy9qWUntultAE)
**First seen:** Nov 18, 2020
**Frequency:** ~ 2,544/day

Stacktrace
---
<pre><code>Error: Cannot read property 'metrics' of undefined
    at metrics (<a href="https://github.com/ampproject/amphtml/blob/2110290545001/extensions/amp-story/1.0/media-performance-metrics-service.js#L373">extensions/amp-story/1.0/media-performance-metr

[2021-11-17 22:56] samouri commented on #105
Not seeing any instances of this error anymore

[2021-11-17 22:56] #105 closed, assigned to samouri

[2021-12-07 14:31] ampprojectbot opened #112 "🚨 Error: Unexpected token F in JSON at position 7388"
Details
---
**Error report:** [link](http://go/ampe/CObh59vU5sL1gAE)
**First seen:** Dec 7, 2021
**Frequency:** ~ 8,726/day

Stacktrace
---
<pre><code>Error: Unexpected token F in JSON at position 7388
    at unexpected-token-f-in-json-at-position-7388.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2021-12-14 15:27] ampprojectbot opened #113 "🚨 Error: rejected promise [object PromiseRejectionEvent]"
Details
---
**Error report:** [link](http://go/ampe/COvoyri1iI-fQQ)
**First seen:** Nov 11, 2017
**Frequency:** ~ 54,971/day

Stacktrace
---
<pre><code>Error: rejected promise [object PromiseRejectionEvent]
    at getAmpDoc (<a href="https://github.com/ampproject/amphtml/blob/2112032204000/src/service/ampdoc-impl.js#L174">src/service/ampdoc-impl.js:174</a>:2)
</code></pre>

Notes
---
`@dvoytenko`

[2021-12-14 15:36] ampprojectbot opened #114 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CKbj3r2tyNLLfw)
**First seen:** Oct 20, 2021
**Frequency:** ~ 8,102/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at <a href="https://github.com/ampproject/amphtml/blob/2111242025001/src/core/types/object/index.js#L193">src/core/types/object/index.js:193</a>:2
    at shouldBeBoolean (<a href="https://github.com/ampproject

[2021-12-14 15:36] rcebulko commented on #114
Replica of #45 and #71

[2021-12-14 15:37] ampprojectbot opened #115 "🚨 Error: Invalid array length"
Details
---
**Error report:** [link](http://go/ampe/CN-43J6aldisjAE)
**First seen:** Aug 6, 2021
**Frequency:** ~ 7,055/day

Stacktrace
---
<pre><code>Error: Invalid array length
    at quota (<a href="https://github.com/ampproject/amphtml/blob/2111242025001/extensions/amp-bind/0.1/bind-impl.js#L943">extensions/amp-bind/0.1/bind-impl.js:943</a>:31)
    at scanElement_ (<a href="https://github.com/

[2021-12-14 15:40] rcebulko commented on #115
@jridgewell This is new, though no obvious changes to lines in the stacktrace. You touched the file about a month ago + know this code I assume, could you take a look?

[2021-12-14 15:40] rcebulko commented on #115
/cc@samouri for visibility, though this appears older than ESBuild changes

[2021-12-14 15:40] ampprojectbot opened #116 "🚨 Error: null is not an object (evaluating 'a.getElementsByTagName')"
Details
---
**Error report:** [link](http://go/ampe/CPr84abrwMfxew)
**First seen:** Mar 14, 2021
**Frequency:** ~ 6,648/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'a.getElementsByTagName')
    at getElementsByTagName (<a href="https://github.com/ampproject/amphtml/blob/2111242025001/extensions/amp-live-list/0.1/live-list-manager.js#L187">extensions/amp-live-list/0.1/li

[2021-12-14 15:49] rcebulko commented on #116
This error occurs in `getLiveLists_(doc)` when `doc == null`. This is called only by `updateLiveLists_(doc)`, which in turn is called only in a `.then(` callback after `fetchDocument` (see https://github.com/ampproject/amphtml/blame/711d5de27696965cdfb1d9a6899a6ac146134410/extensions/amp-live-list/0.1/live-list-manager.js#L148). Even though the JSDoc comments indicate `fetchDocument` (see https://

[2021-12-14 16:21] ampprojectbot opened #117 "🚨 Error: Maximum call stack size exceeded"
Details
---
**Error report:** [link](http://go/ampe/CJqhkofX-Pqq7AE)
**First seen:** Dec 13, 2021
**Frequency:** ~ 629/day

Stacktrace
---
<pre><code>Error: Maximum call stack size exceeded
    at <a href="https://github.com/ampproject/amphtml/blob/2112032204000/src/service/action-impl.js#L1058">src/service/action-impl.js:1058</a>:57
    at this (<a href="https://github.com/ampproject/amphtml/blob

[2021-12-14 16:22] rcebulko commented on #117
@jridgewell could this have been introduced by [#36821](https://github.com/ampproject/amphtml/pull/36821) ?

[2021-12-14 16:22] ampprojectbot opened #118 "🚨 Error: Cannot handle request because no default handler is set!"
Details
---
**Error report:** [link](http://go/ampe/CNuzqbnxjPOkqwE)
**First seen:** Oct 14, 2021
**Frequency:** ~ 1,297/day

Stacktrace
---
<pre><code>Error: Cannot handle request because no default handler is set!
    at <a href="https://github.com/ampproject/amphtml/blob/extensions/amp-viewer-integration/0.1/messaging/messaging.js#L409">amp-viewer-integration/0.1/messaging/messaging.js:409</a>:

[2021-12-14 19:08] jridgewell commented on #117
No, this is likely a trigger causing an action causing a trigger loop.

[2022-01-10 16:56] ampprojectbot opened #120 "🚨 Error: i.toggleAttribute is not a function"
Details
---
**Error report:** [link](http://go/ampe/CI-gyNDqvb_tQg)
**First seen:** Dec 21, 2021
**Frequency:** ~ 608/day

Stacktrace
---
<pre><code>Error: i.toggleAttribute is not a function
    at toggleAttribute (<a href="https://github.com/ampproject/amphtml/blob/extensions/amp-story/1.0/pagination-buttons.js#L124">amp-story/1.0/pagination-buttons.js:124</a>:10)
    at <a href="https://github.

[2022-01-10 16:56] rcebulko commented on #120
@processprocess This is the same error message but very different stacktrace from https://github.com/ampproject/error-reporting/issues/93

[2022-01-10 16:57] ampprojectbot opened #121 "🚨 Error: Cannot read properties of null (reading 'setState')"
Details
---
**Error report:** [link](http://go/ampe/CLzyhf790pbCbw)
**First seen:** Dec 10, 2021
**Frequency:** ~ 565/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'setState')
    at setState (<a href="https://github.com/ampproject/amphtml/blob/extensions/amp-story/1.0/amp-story.js#L470">amp-story/1.0/amp-story.js:470</a>:23)
    at pause_AMP_PRIVATE_ (<a href="http

[2022-01-10 16:58] rcebulko commented on #121
@jridgewell You most recently touched this stacktrace on Dec 7 in https://github.com/ampproject/amphtml/pull/37144, would you mind taking a look? Appeared in Beta

[2022-01-10 16:59] ampprojectbot opened #122 "🚨 Error: fullscreen error"
Details
---
**Error report:** [link](http://go/ampe/CKaZ9K_e0cvBiQE)
**First seen:** Sep 29, 2021
**Frequency:** ~ 1,007/day

Stacktrace
---
<pre><code>Error: fullscreen error
    at call (<a href="https://github.com/ampproject/amphtml/blob/src/core/dom/fullscreen.js#L15">core/dom/fullscreen.js:15</a>:14)
    at this (<a href="https://github.com/ampproject/amphtml/blob/extensions/amp-jwplayer/0.1/

[2022-01-10 17:00] rcebulko commented on #122
@ampproject/wg-performance any of y'all know why this would be happening?

[code]

[2022-01-10 17:06] ampprojectbot opened #123 "🚨 Error: Failed to execute 'animate' on 'Element': Partial keyframes are not supported."
Details
---
**Error report:** [link](http://go/ampe/COXNyPza9eWBnAE)
**First seen:** Jan 8, 2022
**Frequency:** ~ 243/day

Stacktrace
---
<pre><code>Error: Failed to execute 'animate' on 'Element': Partial keyframes are not supported.
    at animate (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-animation/0.1/runners/native-web-animation-runner.js#L72">extensions

[2022-01-10 17:07] rcebulko commented on #123
@ampproject/wg-components This just started appearing in the latest Nightly release. It doesn't seem like any of the lines in the stack trace have been changed recently, so it's not obvious where this was introduced. Can one of y'all take a look at this?

[2022-01-10 17:42] ampprojectbot opened #124 "🚨 Error: Cannot destructure property `ampdoc` of 'undefined' or 'null'."
Details
---
**Error report:** [link](http://go/ampe/CLKV-_Th15OhGw)
**First seen:** Oct 14, 2021
**Frequency:** ~ 1,874/day

Stacktrace
---
<pre><code>Error: Cannot destructure property `ampdoc` of 'undefined' or 'null'.
    at amp (<a href="https://github.com/ampproject/amphtml/blob/src/multidoc-manager.js#L491">multidoc-manager.js:491</a>:21)
    at closeShadowRoot_AMP_PRIVATE_ (<a href="https:/

[2022-01-10 23:40] jridgewell commented on #121
My change couldn't have caused this. And, it's been in production since at lease [May 2021](http://go/ampe/CKCF0p-HgL-56QE).

[2022-01-10 23:41] jridgewell commented on #121
@ampproject/wg-stories

[2022-01-12 01:51] FAIZFREADY commented on #121
https://github.com/ampproject/error-reporting/issues/121#issuecomment-100
[Terma Perkhidmatan.txt](https://github.com/ampproject/error-reporting/files/7851025/Terma.Perkhidmatan.txt)

[2022-01-12 01:52] FAIZFREADY commented on #121
https://www.hotlink.com.my/en/campaigns/jom-invite-member/?mgm=KdTmvM4Vew

[2022-01-15 19:26] FAIZFREADY commented on #121
https://www.biblegateway.com/passage/?search=Ezekiel%201%3A15-21&version=NIV
[vcpkg-master.zip](https://github.com/ampproject/error-reporting/files/7875736/vcpkg-master.zip)

[2022-01-15 19:38] FAIZFREADY commented on #121
To get the first one
***@***.***

2022-01-16 3:26 GMT+08:00, FAIZFREADY ***@***.***>:

[2022-01-18 16:39] ampprojectbot opened #125 "🚨 Error: "Object Not Found Matching Id:3""
Details
---
**Error report:** [link](http://go/ampe/COCa14mGve2PNg)
**First seen:** Jan 11, 2022
**Frequency:** ~ 14,438/day

Stacktrace
---
<pre><code>Error: "Object Not Found Matching Id:3"
    at self (<a href="https://github.com/ampproject/amphtml/blob/2112231523002/src/error-reporting.js#L219">src/error-reporting.js:219</a>:20)
    at push (<a href="https://github.com/ampproject/amphtml/blob/

[2022-01-18 16:52] ampprojectbot opened #126 "🚨 Error: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules"
Details
---
**Error report:** [link](http://go/ampe/CJ35p7f70qyfAw)
**First seen:** Oct 14, 2021
**Frequency:** ~ 7,789/day

Stacktrace
---
<pre><code>Error: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules
    at cssRules (<a href="https://github.com/ampproject/amphtml/blob/extensions/amp-animation/0.1/parsers/keyframes-extractor.js#L38">amp-animation/0.1/parsers/k

[2022-01-18 17:03] ampprojectbot opened #127 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CIvgpP30jMGCeA)
**First seen:** Jan 12, 2022
**Frequency:** ~ 6,917/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at isObject (<a href="https://github.com/ampproject/amphtml/blob/2112231523002/src/core/types/object/index.js#L195">src/core/types/object/index.js:195</a>:14)
    at assertFn (<a h

[2022-01-18 17:03] ampprojectbot opened #128 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CIvgpP30jMGCeA)
**First seen:** Jan 12, 2022
**Frequency:** ~ 6,917/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at isObject (<a href="https://github.com/ampproject/amphtml/blob/2112231523002/src/core/types/object/index.js#L195">src/core/types/object/index.js:195</a>:14)
    at assertFn (<a h

[2022-01-18 17:03] ampprojectbot opened #129 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CIvgpP30jMGCeA)
**First seen:** Jan 12, 2022
**Frequency:** ~ 6,917/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at isObject (<a href="https://github.com/ampproject/amphtml/blob/2112231523002/src/core/types/object/index.js#L195">src/core/types/object/index.js:195</a>:14)
    at assertFn (<a h

[2022-01-18 17:09] rcebulko commented on #129
Closing as duplicate of #97

[2022-01-18 17:09] #129 closed, assigned to nobody

[2022-01-18 17:09] rcebulko commented on #128
Closing as duplicate of #97

[2022-01-18 17:09] #128 closed, assigned to nobody

[2022-01-18 17:09] rcebulko commented on #127
Closing as duplicate of #97

[2022-01-18 17:09] #127 closed, assigned to nobody

[2022-01-18 17:22] ampprojectbot opened #130 "🚨 Error: undefined is not an object (evaluating 't.querySelectorAll')"
Details
---
**Error report:** [link](http://go/ampe/CIyug823tMH2JQ)
**First seen:** Jan 9, 2022
**Frequency:** ~ 804/day

Stacktrace
---
<pre><code>Error: undefined is not an object (evaluating 't.querySelectorAll')
    at querySelectorAll (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-next-page/1.0/service.js#L722">extensions/amp-next-page/1.0/service.js:722</a>

[2022-01-18 17:25] ampprojectbot opened #131 "🚨 Error: Cannot read properties of null (reading 'style')"
Details
---
**Error report:** [link](http://go/ampe/CMypiIyuvLXvfg)
**First seen:** Jan 12, 2022
**Frequency:** ~ 1,135/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'style')
    at style (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/src/core/dom/style.js#L111">src/core/dom/style.js:111</a>:12)
    at this (<a href="https://github.com/ampproject

[2022-01-18 17:29] ampprojectbot opened #132 "🚨 Error: failed to execute a task:: timeout"
Details
---
**Error report:** [link](http://go/ampe/CPfAiOG2iL3dnAE)
**First seen:** Jan 12, 2022
**Frequency:** ~ 251/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: timeout
    at k (<a href="https://github.com/ampproject/amphtml/blob/2112231523002/src/core/types/object/index.js#L195">src/core/types/object/index.js:195</a>:9)
    at assertFn (<a href="https://github.com/ampproje

[2022-01-19 15:01] ampprojectbot opened #133 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CMbCwIH35uC4qwE)
**First seen:** Dec 10, 2021
**Frequency:** ~ 39,201/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at k (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/src/core/types/object/index.js#L194">src/core/types/object/index.js:194</a>:18)
    at <a href="https://gi

[2022-01-19 16:20] ampprojectbot opened #134 "🚨 Error: null is not an object (evaluating 'this.localizationService.getLocalizedString')"
Details
---
**Error report:** [link](http://go/ampe/CJj0juG4w9WbYQ)
**First seen:** Jan 5, 2022
**Frequency:** ~ 20,494/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 'this.localizationService.getLocalizedString')
    at getLocalizedString (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-story-page-attachment/0.1/amp-story-draggable-drawer.

[2022-01-19 16:31] processprocess commented on #134
cc @mszylkowski who has context on lazy loading extensions.

[2022-01-19 17:13] ampprojectbot opened #135 "🚨 Error: i.toggleAttribute is not a function"
Details
---
**Error report:** [link](http://go/ampe/COjU4emfw-OVRg)
**First seen:** Jan 12, 2022
**Frequency:** ~ 14,545/day

Stacktrace
---
<pre><code>Error: i.toggleAttribute is not a function
    at toggleAttribute (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-story/1.0/pagination-buttons.js#L124">extensions/amp-story/1.0/pagination-buttons.js:124</a>:10)

[2022-01-19 17:15] processprocess commented on #135
Duplicat of #120

[2022-01-19 17:15] #135 closed, assigned to processprocess

[2022-01-19 17:36] ampprojectbot opened #136 "🚨 Error: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules"
Details
---
**Error report:** [link](http://go/ampe/CJT006TE2fCvPQ)
**First seen:** Sep 29, 2021
**Frequency:** ~ 14,659/day

Stacktrace
---
<pre><code>Error: Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules
    at cssRules (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-animation/0.1/parsers/keyframes-extractor.js#L38">extensions/a

[2022-01-19 17:37] processprocess commented on #136
Appears to be similar to [#35822](https://github.com/ampproject/amphtml/issues/35822)

[2022-01-19 17:39] ampprojectbot opened #137 "🚨 Error: viewport has zero dimensions"
Details
---
**Error report:** [link](http://go/ampe/CNWCncq9-JCuvwE)
**First seen:** Dec 14, 2021
**Frequency:** ~ 5,326/day

Stacktrace
---
<pre><code>Error: viewport has zero dimensions
    at k (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/src/core/types/object/index.js#L194">src/core/types/object/index.js:194</a>:18)
    at <a href="https://github.com/ampproject/amphtml/bl

[2022-01-19 17:39] processprocess commented on #137
Appears similar to [#36788](https://github.com/ampproject/amphtml/issues/36788)

[2022-01-20 18:10] #120 closed, assigned to processprocess

[2022-01-20 18:14] processprocess commented on #93
Closed by [#37420](https://github.com/ampproject/amphtml/pull/37420)

[2022-01-20 18:14] #93 closed, assigned to processprocess

[2022-01-20 18:23] ampprojectbot opened #138 "🚨 Error: Cannot read properties of undefined (reading 'element')"
Details
---
**Error report:** [link](http://go/ampe/CLyN1Of2lNew5wE)
**First seen:** Apr 17, 2021
**Frequency:** ~ 8,404/day

Stacktrace
---
<pre><code>Error: Cannot read properties of undefined (reading 'element')
    at element (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-story/1.0/amp-story.js#L2255">extensions/amp-story/1.0/amp-story.js:2255</a>:41)
    at

[2022-01-20 18:24] processprocess commented on #138
cc @ampproject/wg-stories

[2022-01-20 18:25] ampprojectbot opened #139 "🚨 Error: startLayout called but not LAYOUT_SCHEDULED currently: 2"
Details
---
**Error report:** [link](http://go/ampe/CJC2vvvM2sfzBg)
**First seen:** Jan 18, 2022
**Frequency:** ~ 5,973/day

Stacktrace
---
<pre><code>Error: startLayout called but not LAYOUT_SCHEDULED currently:  2
    at isObject (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/src/core/types/object/index.js#L195">src/core/types/object/index.js:195</a>:14)
    at <a href="https

[2022-01-20 18:25] ampprojectbot opened #140 "🚨 Error: can't access dead object"
Details
---
**Error report:** [link](http://go/ampe/CIuAn46Ms5jkvQE)
**First seen:** Jan 19, 2022
**Frequency:** ~ 5,512/day

Stacktrace
---
<pre><code>Error: can't access dead object
    at this (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-iframe/0.1/amp-iframe.js#L461">extensions/amp-iframe/0.1/amp-iframe.js:461</a>:9)
    at listenForPymMessage_ (<a href="ht

[2022-01-20 18:25] processprocess commented on #139
Possibly related to [#36834](https://github.com/ampproject/amphtml/issues/36834)

[2022-01-20 18:26] processprocess commented on #140
Possibly related to [#35834](https://github.com/ampproject/amphtml/issues/35834)

[2022-01-20 18:27] ampprojectbot opened #141 "🚨 Error: Invalid array length"
Details
---
**Error report:** [link](http://go/ampe/CKrQlMOU7-WMOg)
**First seen:** Jan 18, 2022
**Frequency:** ~ 5,065/day

Stacktrace
---
<pre><code>Error: Invalid array length
    at quota (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/extensions/amp-bind/0.1/bind-impl.js#L943">extensions/amp-bind/0.1/bind-impl.js:943</a>:31)
    at scanElement_ (<a href="https://github.com/

[2022-01-20 18:35] ampprojectbot opened #142 "🚨 Error: Template failed: [object HTMLTemplateElement] [object HTMLDivElement]: null is not an object (evaluating 'this.Ew.purifyHtml(`<div>${t}</div>`).firstElementChild')"
Details
---
**Error report:** [link](http://go/ampe/CMH4jN-pm-agDw)
**First seen:** Oct 7, 2021
**Frequency:** ~ 4,349/day

Stacktrace
---
<pre><code>Error: Template failed:  [object HTMLTemplateElement] [object HTMLDivElement]: null is not an object (evaluating 'this.Ew.purifyHtml(`<div>${t}</div>`).firstElementChild')
    at firstElementChild (<a href="https://github.com/ampproject/amphtml/blob/

[2022-01-20 18:36] processprocess commented on #115
Duplicate of #141

[2022-01-20 18:37] processprocess commented on #141
Duplicate of #115

[2022-01-20 18:37] #141 closed, assigned to nobody

[2022-01-20 18:46] mszylkowski commented on #121
My guess is this error is hapening because `getAmpDoc().onVisibilityChanged` is triggered before `AmpStory.layoutStory` on `layoutCallback`, given that the visibility changes are being listened on the `buildCallback() -> initializeListeners()`

[2022-01-25 18:48] ampprojectbot opened #143 "🚨 Error: "Object Not Found Matching Id:3""
Details
---
**Error report:** [link](http://go/ampe/CPygxIzUsvqiVA)
**First seen:** Dec 1, 2021
**Frequency:** ~ 7,452/day

Stacktrace
---
<pre><code>Error: "Object Not Found Matching Id:3"
    at element (<a href="https://github.com/ampproject/amphtml/blob/2201071715000/src/error-reporting.js#L210">src/error-reporting.js:210</a>:19)
    at <a href="https://github.com/ampproject/amphtml/blob/22010

[2022-02-22 21:00] ampprojectbot opened #144 "🚨 Error: "Object Not Found Matching Id:9""
Details
---
**Error report:** [link](http://go/ampe/CNSShs-38IPTEQ)
**First seen:** Feb 15, 2022
**Frequency:** ~ 290,327/day

Stacktrace
---
<pre><code>Error: "Object Not Found Matching Id:9"
    at dispatchCustomEventForTesting (<a href="https://github.com/ampproject/amphtml/blob/2202042210001/src/error-reporting.js#L209">src/error-reporting.js:209</a>:27)
    at <a href="https://github.com/ampp

[2022-02-22 21:00] calebcordry commented on #144
Dup of #143

[2022-02-22 21:00] #144 closed, assigned to nobody

[2022-02-22 21:06] ampprojectbot opened #145 "🚨 Error: Null promise in layoutCallback"
Details
---
**Error report:** [link](http://go/ampe/CNnAtt7Wjeb8Dg)
**First seen:** Feb 9, 2022
**Frequency:** ~ 56,440/day

Stacktrace
---
<pre><code>Error: Null promise in layoutCallback
    at map (<a href="https://github.com/ampproject/amphtml/blob/2202042210001/src/core/types/object/index.js#L172">src/core/types/object/index.js:172</a>:15)
    at <a href="https://github.com/ampproject/amphtml

[2022-02-22 21:07] ampprojectbot opened #146 "🚨 Error: The operation is insecure."
Details
---
**Error report:** [link](http://go/ampe/CIC15-zv9bn3Vg)
**First seen:** Jul 13, 2018
**Frequency:** ~ 41,051/day

Stacktrace
---
<pre><code>Error: The operation is insecure.
    at blobUrl (<a href="https://github.com/ampproject/amphtml/blob/2202042210001/src/web-worker/amp-worker.js#L106">src/web-worker/amp-worker.js:106</a>:38)
</code></pre>

Notes
---
`@rsimha` modified `src/web-wor

[2022-03-07 19:39] ampprojectbot opened #147 "🚨 Error: Cannot read properties of null (reading 'setAttribute')"
Details
---
**Error report:** [link](http://go/ampe/CJ6IgoCIsc7vGA)
**First seen:** Apr 9, 2020
**Frequency:** ~ 43,806/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'setAttribute')
    at setAttribute (<a href="https://github.com/ampproject/amphtml/blob/extensions/amp-story-page-attachment/0.1/amp-story-page-attachment.js#L566">amp-story-page-attachment/0.1/amp-sto

[2022-03-07 19:47] ampprojectbot opened #148 "🚨 Error: failed to execute a task:: timeout"
Details
---
**Error report:** [link](http://go/ampe/CLP0oIjs5oOXkwE)
**First seen:** Feb 15, 2022
**Frequency:** ~ 77,873/day

Stacktrace
---
<pre><code>Error: failed to execute a task:: timeout
    at <a href="https://github.com/ampproject/amphtml/blob/2202230359001/src/core/error/index.js#L43">src/core/error/index.js:43</a>:12
    at apply (<a href="https://github.com/ampproject/amphtml/blob/220

[2022-03-07 19:48] ampprojectbot opened #149 "🚨 Error: rejected promise [object PromiseRejectionEvent]"
Details
---
**Error report:** [link](http://go/ampe/CO_1p7-r-v3gywE)
**First seen:** Apr 17, 2021
**Frequency:** ~ 22,246/day

Stacktrace
---
<pre><code>Error: rejected promise [object PromiseRejectionEvent]
    at <a href="https://github.com/ampproject/amphtml/blob/2202230359001/src/error-reporting.js#L293">src/error-reporting.js:293</a>:32
</code></pre>

Notes
---
`@cramforce` modified `src/erro

[2022-03-07 20:00] mszylkowski commented on #147
@processprocess @gmajoulet this is an error related to page attachments from Friday's nightly channels

[2022-03-08 02:11] ampprojectbot opened #150 "🚨 Error: null is not an object (evaluating 't.getElementsByTagName')"
Details
---
**Error report:** [link](http://go/ampe/CJqejKDM9azWDg)
**First seen:** Sep 30, 2021
**Frequency:** ~ 6,828/day

Stacktrace
---
<pre><code>Error: null is not an object (evaluating 't.getElementsByTagName')
    at getElementsByTagName (<a href="https://github.com/ampproject/amphtml/blob/2202230359001/extensions/amp-live-list/0.1/live-list-manager.js#L187">amp-live-list/0.1/live-list-man

[2022-03-08 03:17] ampprojectbot opened #151 "🚨 Error: Null promise in layoutCallback"
Details
---
**Error report:** [link](http://go/ampe/CPqztOO6vqmUWw)
**First seen:** Dec 26, 2020
**Frequency:** ~ 21,972/day

Stacktrace
---
<pre><code>Error: Null promise in layoutCallback
    at message (<a href="https://github.com/ampproject/amphtml/blob/2202142035001/src/core/error/index.js#L43">src/core/error/index.js:43</a>:22)
    at <a href="https://github.com/ampproject/amphtml/blob/22021

[2022-03-08 03:20] ampprojectbot opened #152 "🚨 Error: Cannot read properties of null (reading 'setState')"
Details
---
**Error report:** [link](http://go/ampe/CNnSl5Xgp_OupQE)
**First seen:** Feb 15, 2022
**Frequency:** ~ 13,026/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'setState')
    at setState (<a href="https://github.com/ampproject/amphtml/blob/2202142035001/extensions/amp-story/1.0/amp-story.js#L467">amp-story/1.0/amp-story.js:467</a>:23)
    at pause_ (<a href

[2022-03-08 19:38] #147 closed, assigned to mszylkowski

[2022-03-28 19:18] ampprojectbot opened #153 "🚨 Error: i.hasAttribute is not a function"
Details
---
**Error report:** [link](http://go/ampe/CLaynP7S25nSswE)
**First seen:** Oct 14, 2020
**Frequency:** ~ 329,769/day

Stacktrace
---
<pre><code>Error: i.hasAttribute is not a function
    at hasAttribute (<a href="https://github.com/ampproject/amphtml/blob/2203101844000/src/input.js#L196">src/input.js:196</a>:15)
</code></pre>

Notes
---
`@rsimha` modified `src/input.js:190-197` in [#212

[2022-03-28 19:20] jridgewell commented on #153
Duplicate of #82

[2022-03-28 19:21] jridgewell commented on #78
Duplicate of #82

[2022-03-28 19:21] #78 closed, assigned to nobody

[2022-03-28 19:23] ampprojectbot opened #154 "🚨 Error: Cannot create property 'targeting' on string '{'targeting': {'Editora.pos': 'AMP-footer', 'tvg_pos': '_M', 'cor_pagina': '#333', 'advertiser': 'heineken,unilever,apple,CEF,bbrasil,facilidades,colgate', 'ambient': 'amp', 'tvg_url': 'https://www.techtudo.com.br/noticias/2016/09/como-pagar-em-dinheiro-uma-corrida-no-uber.ghtml'}}'"
Details
---
**Error report:** [link](http://go/ampe/CL-YvL-Pg8DXDg)
**First seen:** Mar 9, 2022
**Frequency:** ~ 43,541/day

Stacktrace
---
<pre><code>Error: Cannot create property 'targeting' on string '{'targeting': {'Editora.pos': 'AMP-footer', 'tvg_pos': '_M', 'cor_pagina': '#333', 'advertiser': 'heineken,unilever,apple,CEF,bbrasil,facilidades,colgate', 'ambient': 'amp', 'tvg_url': 'https://ww

[2022-04-11 16:34] ampprojectbot opened #155 "🚨 Error: Cannot read properties of null (reading 'callFunction')"
Details
---
**Error report:** [link](http://go/ampe/CMfOv6S01uqtgQE)
**First seen:** Dec 22, 2021
**Frequency:** ~ 85,162/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'callFunction')
    at callFunction (<a href="https://github.com/ampproject/amphtml/blob/2203172113000/extensions/amp-script/0.1/amp-script.js#L229">extensions/amp-script/0.1/amp-script.js:229</a>:29)

[2022-04-11 16:55] ampprojectbot opened #156 "🚨 Error: Cannot read properties of null (reading 'then')"
Details
---
**Error report:** [link](http://go/ampe/CKCXpp6K8t_1Fg)
**First seen:** Mar 2, 2021
**Frequency:** ~ 22,058/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'then')
    at then (<a href="https://github.com/ampproject/amphtml/blob/2203172113000/src/inabox/inabox-resources.js#L234">src/inabox/inabox-resources.js:234</a>:25)
    at buildReadyResources_ (<a hre

[2022-04-11 16:55] ampprojectbot opened #157 "🚨 Error: Cannot read properties of null (reading 'then')"
Details
---
**Error report:** [link](http://go/ampe/CKCXpp6K8t_1Fg)
**First seen:** Mar 2, 2021
**Frequency:** ~ 22,058/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'then')
    at then (<a href="https://github.com/ampproject/amphtml/blob/2203172113000/src/inabox/inabox-resources.js#L234">src/inabox/inabox-resources.js:234</a>:25)
    at buildReadyResources_ (<a hre

[2022-04-11 17:09] samouri commented on #156
Dupe of https://github.com/ampproject/error-reporting/issues/157

[2022-04-11 17:09] #156 closed, assigned to nobody

[2022-04-11 20:34] #155 closed, assigned to samouri

[2022-04-11 21:46] #157 closed, assigned to samouri

[2022-05-10 21:58] ampprojectbot opened #158 "🚨 Error: undefined is not a function"
Details
---
**Error report:** [link](http://go/ampe/CIqHyuPgtd_0Lw)
**First seen:** Apr 12, 2022
**Frequency:** ~ 290,233/day

Stacktrace
---
<pre><code>Error: undefined is not a function
    at forEach (<a href="https://github.com/ampproject/amphtml/blob/2204221712000/src/service/ampdoc-impl.js#L359">src/service/ampdoc-impl.js:359</a>:12)
    at getMeta (<a href="https://github.com/ampproject/amp

[2022-05-10 21:59] ampprojectbot opened #159 "🚨 Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'."
Details
---
**Error report:** [link](http://go/ampe/CO7K9dOA0prupgE)
**First seen:** Feb 15, 2022
**Frequency:** ~ 110,865/day

Stacktrace
---
<pre><code>Error: Initial replaceState failed: Failed to execute 'replaceState' on 'History': A history state object with URL 'about:srcdoc' cannot be created in a document with origin 'http://adviewer.adcint.net:7000' and URL 'about:srcdoc'.
    at <a href

[2022-05-10 21:59] ampprojectbot opened #160 "🚨 Error: undefined is not a function"
Details
---
**Error report:** [link](http://go/ampe/CO_SnMWHwvnyTQ)
**First seen:** Apr 13, 2022
**Frequency:** ~ 33,636/day

Stacktrace
---
<pre><code>Error: undefined is not a function
    at forEach (<a href="https://github.com/ampproject/amphtml/blob/2204221712000/extensions/amp-story/1.0/amp-story-grid-layer.js#L111">extensions/amp-story/1.0/amp-story-grid-layer.js:111</a>:28)
    at setDesce

[2022-05-10 22:01] ampprojectbot opened #161 "🚨 Error: this.win.document.head.querySelectorAll(...).forEach is not a function"
Details
---
**Error report:** [link](http://go/ampe/COfHi52dwrK17gE)
**First seen:** Apr 14, 2022
**Frequency:** ~ 20,097/day

Stacktrace
---
<pre><code>Error: this.win.document.head.querySelectorAll(...).forEach is not a function
    at this (<a href="https://github.com/ampproject/amphtml/blob/2204221712000/src/service/ampdoc-impl.js#L357">src/service/ampdoc-impl.js:357</a>:21)
    at this (<a hr

[2022-05-24 17:56] ampprojectbot opened #162 "🚨 Error: Could not resolve '400 8px Baloo 2' as a font."
Details
---
**Error report:** [link](http://go/ampe/CIix4_HGr9-7cg)
**First seen:** May 18, 2022
**Frequency:** ~ 2,992/day

Stacktrace
---
<pre><code>Error: Could not resolve '400 8px Baloo 2' as a font.
    at could-not-resolve-400-8px-baloo-2-as-a-font.js:1:1
</code></pre>

/cc @ampproject/release-on-duty

[2022-05-24 17:57] mszylkowski commented on #162
This is an AMP cache experiment that waits for font loading, but can't properly wait for fonts that have spaces:
`document.fonts.load("400 8px Baloo 2")` is failing,`document.fonts.load("400 8px 'Baloo 2'")` works.

We need to wrap the font-family name in quote symbols.

[2022-05-24 18:00] jridgewell commented on #162
@erwinmombay

[2022-06-13 18:49] erwinmombay commented on #162
We've submitted a fix for this internally and will provide an update when fix has been fully rolled out

[2022-08-16 16:45] ampprojectbot opened #163 "🚨 Error: Unrecognized method: %s undefined"
Details
---
**Error report:** [link](http://go/ampe/CMmAm8GGhJr34QE)
**First seen:** Aug 16, 2022
**Frequency:** ~ 37,878/day

Stacktrace
---
<pre><code>Error: Unrecognized method: %s undefined
    at M (https://cdn.ampproject.org/rtv/012207281718002/ww.js:2:4087)
    at r.createError (https://cdn.ampproject.org/rtv/012207281718002/ww.js:2:7901)
    at r.error (https://cdn.ampproject.org/rtv/01220

[2022-08-17 16:31] ampprojectbot opened #164 "🚨 Error: Cannot read properties of null (reading 'next')"
Details
---
**Error report:** [link](http://go/ampe/CMCn4cCn4qy1dw)
**First seen:** Sep 30, 2021
**Frequency:** ~ 12,210/day

Stacktrace
---
<pre><code>Error: Cannot read properties of null (reading 'next')
    at next (<a href="https://github.com/ampproject/amphtml/blob/2208051912001/extensions/amp-story/1.0/amp-story.js#L1287">extensions/amp-story/1.0/amp-story.js:1287</a>:15)
    at next_ (<a h